Desktop/Quietly/Client Automations/Julia/Property_Management/workflows/Ticket_&_Vendor_Dispatch.json
{
  "name": "Ticket & Vendor Dispatch",
  "nodes": [
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1be3u-2jYUYnyRGs2AhcZP07qlrLmCIDW-o0_HO8LvpY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1066278066,
          "mode": "list",
          "cachedResultName": "Messages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1be3u-2jYUYnyRGs2AhcZP07qlrLmCIDW-o0_HO8LvpY/edit#gid=1066278066"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ticket_id": "={{ $json.ticket_id }}",
            "chat_id": "={{ $json.chat_id }}"
          },
          "matchingColumns": [
            "chat_id"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message_received",
              "displayName": "message_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "media",
              "displayName": "media",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "32597c07-2404-4bfd-96d3-87de9ede9b26",
      "name": "Update Message Ticket Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3568,
        12208
      ],
      "credentials": {
        "googleApi": {
          "id": "M7bSVcETzPuobYNc",
          "name": "dionbuildsai Google Service Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "UPDATE messages SET ticket_id = '{{ $json.ticket_id }}' WHERE id = (SELECT id FROM messages WHERE chat_id = '{{ $('Merge Data').item.json.chat_id || $('Merge Data').item.json.sender_identifier }}' AND ticket_id IS NULL ORDER BY created_at DESC LIMIT 1) RETURNING *",
        "options": {}
      },
      "id": "3cc61ae6-f8f7-4d3a-aae7-94d2d2645a9f",
      "name": "Update Message Ticket1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3744,
        12208
      ],
      "credentials": {
        "postgres": {
          "id": "JlETYTnhAwFrsmL9",
          "name": "Quietly DB"
        }
      }
    },
    {
      "parameters": {
        "resource": "sms",
        "operation": "send",
        "from": "=+14389009998",
        "to": "={{ $('Lookup Vendor1').item.json['Phone'] }}",
        "toWhatsapp": false,
        "message": "={{ $json.output.body.replace(/<br\\s*\\/?>/gi, '\\n').replace(/<\\/p>/gi, '\\n\\n').replace(/<[^>]*>/g, '') }}",
        "options": {}
      },
      "id": "d505f9ea-d661-41e8-8936-7a0a7881e842",
      "name": "SMS Vendor1",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -2880,
        11952
      ],
      "credentials": {
        "twilioApi": {
          "id": "ijmhKNa9AFRv7Rjr",
          "name": "Twilio account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1be3u-2jYUYnyRGs2AhcZP07qlrLmCIDW-o0_HO8LvpY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1654455059,
          "mode": "list",
          "cachedResultName": "Open tickets"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ticket_id": "={{ $json.ticket_id }}",
            "created_at": "={{ $now.setZone('America/New_York').format('yyyy-MM-dd HH:mm') }}",
            "tenant_name": "={{ $json.tenant_name }}",
            "phone": "={{ $json.phone }}",
            "unit": "={{ $json.unit }}",
            "property": "={{ $json.property }}",
            "channel": "={{ $json.channel }}",
            "type": "={{ $json.type }}",
            "category": "={{ $json.category }}",
            "summary": "={{ $json.summary }}",
            "status": "={{ $json.status }}",
            "keywords": "={{ $json.keywords }}",
            "tenant_message": "={{ $json.tenant_message }}",
            "telegram": "={{ $json.telegram_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tenant_name",
              "displayName": "tenant_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property",
              "displayName": "property",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unit",
              "displayName": "unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor",
              "displayName": "vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tenant_message",
              "displayName": "tenant_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram",
              "displayName": "telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "media",
              "displayName": "media",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "981a3c16-1a62-4526-a771-c5ea609d66d1",
      "name": "Mirror Ticket to Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3728,
        11952
      ],
      "credentials": {
        "googleApi": {
          "id": "M7bSVcETzPuobYNc",
          "name": "dionbuildsai Google Service Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "insert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "maintenance_requests",
          "mode": "list",
          "cachedResultName": "maintenance_requests"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ticket_id": "={{ $json.ticket_id }}",
            "tenant_name": "={{ $('Start').item.json.tenant_name }}",
            "phone": "={{ $('Start').item.json.phone }}",
            "property": "={{ $('Start').item.json.Merge_Data_property_1 }}",
            "unit": "={{ $('Start').item.json.Merge_Data_unit_1_1 }}",
            "channel": "={{ $('Start').item.json.channel }}",
            "type": "={{ $('Start').item.json.output_urgency }}",
            "category": "={{ $('Start').item.json.output_category }}",
            "summary": "={{ $('Start').item.json.output_summary }}",
            "status": "={{ $('Start').item.json.output_urgency === 'urgent' ? 'wait_for_approval' : 'open' }}",
            "keywords": "={{ $('Start').item.json.output_keyword }}",
            "tenant_message": "={{ $('Start').item.json.message }}",
            "telegram_id": "={{ $('Start').item.json.telegram_id }}",
            "created_at": "={{ $now.toISO() }}",
            "updated_at": "={{ $now.toISO() }}",
            "tenant_phone": "={{ $('Start').item.json.phone }}",
            "unit_number": "={{ $('Start').item.json.Merge_Data_unit_1_1 }}",
            "description": "={{ $('Start').item.json.output_summary }}",
            "urgency": "={{ $('Start').item.json.output_urgency }}",
            "tenant_email": "={{ $('Start').item.json.email }}",
            "telegram_chat_id": "={{ $('Start').item.json.Telegram }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tenant_name",
              "displayName": "tenant_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tenant_phone",
              "displayName": "tenant_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "property",
              "displayName": "property",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unit_number",
              "displayName": "unit_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor",
              "displayName": "vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tenant_message",
              "displayName": "tenant_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "media_url",
              "displayName": "media_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "resolved_at",
              "displayName": "resolved_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tenant_email",
              "displayName": "tenant_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unit",
              "displayName": "unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "media",
              "displayName": "media",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "1e9e4939-902e-41f8-b5f2-e89e962c653f",
      "name": "Create Ticket",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4256,
        11936
      ],
      "credentials": {
        "postgres": {
          "id": "JlETYTnhAwFrsmL9",
          "name": "Quietly DB"
        }
      }
    },
    {
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4048,
        11936
      ],
      "id": "a3212114-4dac-4d5f-9507-3ee9b4769798",
      "name": "No Operation, do nothing",
      "disabled": false,
      "parameters": {}
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3504,
        11888
      ],
      "id": "bfe826cb-966f-4f1c-9037-1fa92611ae95",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "notice": "",
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list"
        },
        "options": {
          "temperature": 0.5
        }
      },
      "id": "228a48c9-b601-452e-bfcc-6bd0690b4899",
      "name": "Haiku - Briefing1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -2352,
        11792
      ],
      "credentials": {
        "anthropicApi": {
          "id": "jOOjmB3sv6fwkbDV",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "notice": "",
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list"
        },
        "options": {
          "temperature": 0.5
        }
      },
      "id": "75d2e367-6c86-483c-a3d7-8ad5fb564dd2",
      "name": "Haiku - Vendor1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -3264,
        11776
      ],
      "credentials": {
        "anthropicApi": {
          "id": "jOOjmB3sv6fwkbDV",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "notice": "",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"subject\": \"Urgent Plumbing Request - Julia Inc\",\n  \"body\": \"<p>Hi vendor...</p>\"\n}",
        "autoFix": false
      },
      "id": "5199c209-165f-47b8-ac16-ea34360aa371",
      "name": "Vendor Message Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -3136,
        11776
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Lookup Vendor1').item.json['Email'] }}",
        "subject": "={{ $json.output.subject }}",
        "emailType": "html",
        "message": "={{ $json.output.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "c6583d87-8997-4435-90f4-35014db03da7",
      "name": "Email Vendor1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2880,
        11760
      ],
      "webhookId": "2f4e0bdf-4c0c-425e-a729-65764b34218b",
      "credentials": {
        "gmailOAuth2": {
          "id": "ib5ffoxInNyz8gYt",
          "name": "dionbuildsai gmail"
        }
      }
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Start').item.json.output_urgency}}",
                    "rightValue": "urgent",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c36d6e26-78f4-45d6-9a6f-33a29cbe18d9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "urgent"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ad86082f-14f1-4b42-bc0b-5189bfc2d8f0",
                    "leftValue": "={{ $('Start').item.json.output_urgency}}",
                    "rightValue": "not_urgent",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not_urgent"
            }
          ]
        },
        "looseTypeValidation": false,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3728,
        11728
      ],
      "id": "0000d816-ab9b-4b84-aa7c-369d9fd093f3",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "SELECT vendor_name AS \"Vendor Name\", email AS \"Email\", phone AS \"Phone\" FROM vendors WHERE category = '{{ $json.category }}'",
        "options": {}
      },
      "id": "d0b3f04c-bf50-43ae-913e-508476127132",
      "name": "Lookup Vendor1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3504,
        11696
      ],
      "credentials": {
        "postgres": {
          "id": "JlETYTnhAwFrsmL9",
          "name": "Quietly DB"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "SELECT * FROM messages WHERE chat_id = '{{ $('Merge Data').item.json.chat_id }}' ORDER BY created_at DESC LIMIT 10",
        "options": {}
      },
      "id": "5a6e7c21-d365-401b-a29e-1674f1905a3e",
      "name": "Get Message History1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2880,
        11568
      ],
      "credentials": {
        "postgres": {
          "id": "JlETYTnhAwFrsmL9",
          "name": "Quietly DB"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "data",
        "include": "allFields",
        "options": {}
      },
      "id": "c8317fc1-4b41-48d7-9924-1b2e42f1378d",
      "name": "Aggregate Messages1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2656,
        11568
      ]
    },
    {
      "parameters": {
        "notice": "",
        "promptType": "define",
        "text": "=Tenant: {{ $('Start').item.json.tenant_name }}\nIssue: {{ $('Start').item.json.output_summary }}\n\nMessage history:\n{{ JSON.stringify($json.data, null, 2) }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "=You are an assistant helping a landlord review an urgent tenant issue.\n\nSummarize the conversation history concisely:\n1. What the issue is\n2. Key details (location, severity)\n3. Any relevant context from message history\n\nKeep it 3-4 sentences. Be factual and actionable.\n\nOutput HTML using only these tags: <b> for bold, <i> for italic. Do not use Markdown syntax like **, __, or #. No line breaks as <br>\u2014use plain line breaks."
            }
          ]
        }
      },
      "id": "b0028112-1a3c-45be-b220-56c17e92a106",
      "name": "AI Landlord Briefing1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -2432,
        11568
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "=6216258938",
        "text": "=\ud83d\udea8 URGENT TICKET\n\n{{ $('Start').item.json.output_summary }}\n\n\ud83d\udccb Context:\n{{ $json.text }}\n\n\ud83d\udcac Tenant Message:\n{{ $('Start').item.json.message }}\n\nTenant: {{ $('Start').item.json.tenant_name }}\nPhone: {{ $('Start').item.json.phone }}\nAddress: {{ $('Start').item.json.Merge_Data_property_1 }}\nUnit: {{ $('Start').item.json.Merge_Data_unit_1_1 }}\n\nDispatch {{ $('Start').item.json.output_category }} contractors?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "accept",
                    "additionalFields": {
                      "callback_data": "=accept||{{ $('Create Ticket').item.json.ticket_id }}"
                    }
                  },
                  {
                    "text": "decline",
                    "additionalFields": {
                      "callback_data": "=decline||{{ $('Create Ticket').item.json.ticket_id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "9b5863b2-0ec4-432a-938e-39d29fd3ab50",
      "name": "Owner Notification1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2080,
        11568
      ],
      "webhookId": "9e3fb28f-ad6d-4816-82c3-f4de63f64a79",
      "credentials": {
        "telegramApi": {
          "id": "5uwoGp7iX1GQkMcu",
          "name": "property_management"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "deleteMessage",
        "chatId": "={{ $('Start').item.json.chat_id }}",
        "messageId": "={{ $('Start').item.json.result?.message_id || $('Start').item.json.Processing_result?.message_id || '' }}"
      },
      "id": "d314eec5-9821-4845-aad7-7cc3fd77d6b8",
      "name": "Delete Processing Msg1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1856,
        11568
      ],
      "webhookId": "98c14d76-9321-4cea-b564-6ef92abba9f9",
      "credentials": {
        "telegramApi": {
          "id": "5uwoGp7iX1GQkMcu",
          "name": "property_management"
        }
      }
    },
    {
      "parameters": {
        "notice": "",
        "promptType": "define",
        "text": "=Issue category: {{ $('Start').item.json.category }}\nIssue summary: {{ $('Start').item.json.summary }}\nVendor name: {{ $json['Vendor Name'] }}\nProperty address: {{ $('Start').item.json.property }}\nUnit: {{ $('Start').item.json.unit }}",
        "hasOutputParser": true,
        "needsFallback": false,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a property management coordinator. Write a brief, professional message to a vendor about an urgent tenant issue.\n\nWrite a concise message that:\n1. Short introduction identifying this as an urgent request from Julia Inc\n2. Describes the issue clearly\n3. Asks them to respond ASAP with availability\n4. Includes the property address on a new line\n5. Provides callback number: 514-831-9058 on a new line\n6. Signs off as Julia\n\nKeep it under 5 sentences. Be direct and professional. Format as HTML."
            }
          ]
        }
      },
      "id": "6e7c86af-ca02-46e8-9bde-0f77d952e02b",
      "name": "AI Vendor Message1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -3280,
        11552
      ]
    },
    {
      "id": "632c8de6-b241-4f37-9d4f-db5c11ef413c",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -4464,
        11936
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "output_urgency",
              "type": "any"
            },
            {
              "name": "category",
              "type": "any"
            },
            {
              "name": "property",
              "type": "any"
            },
            {
              "name": "summary",
              "type": "any"
            },
            {
              "name": "unit",
              "type": "any"
            },
            {
              "name": "output_summary",
              "type": "any"
            },
            {
              "name": "tenant_name",
              "type": "any"
            },
            {
              "name": "output_category",
              "type": "any"
            },
            {
              "name": "Merge_Data_property_1",
              "type": "any"
            },
            {
              "name": "message",
              "type": "any"
            },
            {
              "name": "phone",
              "type": "any"
            },
            {
              "name": "Merge_Data_unit_1_1",
              "type": "any"
            },
            {
              "name": "chat_id",
              "type": "any"
            },
            {
              "name": "result",
              "type": "any"
            },
            {
              "name": "Processing_result",
              "type": "any"
            },
            {
              "name": "ticket_id",
              "type": "any"
            },
            {
              "name": "channel",
              "type": "any"
            },
            {
              "name": "output_keyword",
              "type": "any"
            },
            {
              "name": "telegram_id",
              "type": "any"
            },
            {
              "name": "email",
              "type": "any"
            },
            {
              "name": "Telegram",
              "type": "any"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Lookup Vendor1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Vendor1": {
      "main": [
        [
          {
            "node": "AI Vendor Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Vendor Message1": {
      "main": [
        [
          {
            "node": "Email Vendor1",
            "type": "main",
            "index": 0
          },
          {
            "node": "SMS Vendor1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Message History1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haiku - Vendor1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Vendor Message1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vendor Message Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Vendor Message1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Update Message Ticket1": {
      "main": [
        [
          {
            "node": "Update Message Ticket Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Message History1": {
      "main": [
        [
          {
            "node": "Aggregate Messages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Messages1": {
      "main": [
        [
          {
            "node": "AI Landlord Briefing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Landlord Briefing1": {
      "main": [
        [
          {
            "node": "Owner Notification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haiku - Briefing1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Landlord Briefing1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Owner Notification1": {
      "main": [
        [
          {
            "node": "Delete Processing Msg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Ticket": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mirror Ticket to Sheets1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Message Ticket1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Create Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  }
}