Desktop/Projects/julia-pm/workflows/Intake_Channel_Router.json
{"id": "6uqrzVIcH8GFznDf", "name": "[Intake] Channel Router", "active": true, "nodes": [{"parameters": {"pollTimes": {"item": [{"mode": "everyMinute"}]}, "filters": {"readStatus": "unread"}}, "id": "e6cb4f74-851c-4649-bc17-8270e9606b0b", "name": "Gmail Trigger", "type": "n8n-nodes-base.gmailTrigger", "position": [-528, 2352], "typeVersion": 1, "credentials": {"gmailOAuth2": {"id": "ws18m1zty0x1WwiD", "name": "dionfwang"}}}, {"parameters": {"updates": ["message", "callback_query"], "additionalFields": {}}, "id": "b040d8c4-d965-43c0-8a0d-c34388f7bd67", "name": "Telegram Trigger", "type": "n8n-nodes-base.telegramTrigger", "position": [-1200, 1296], "webhookId": "9d252842-949a-4ad8-9f22-5cb2ec06740a", "typeVersion": 1.1, "credentials": {"telegramApi": {"id": "5uwoGp7iX1GQkMcu", "name": "property_management"}}}, {"parameters": {"httpMethod": "POST", "path": "sms-intake", "options": {"rawBody": true}}, "id": "aa91a0d8-bbc3-496e-89f8-040b191a8b10", "name": "SMS Webhook", "type": "n8n-nodes-base.webhook", "position": [-752, 2160], "webhookId": "09621225-d8ad-41ca-a356-63017aa4b15e", "typeVersion": 2}, {"parameters": {"conditions": {"options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "f4a105f1-062c-41ed-b482-5a61509fe3ed", "operator": {"type": "object", "operation": "exists", "singleValue": true}, "leftValue": "={{ $json.callback_query }}"}]}, "options": {}}, "id": "58412f0c-88a5-4789-8f3d-c34ccc27509d", "name": "Is Callback?", "type": "n8n-nodes-base.if", "position": [-976, 1296], "typeVersion": 2.2}, {"parameters": {"conditions": {"options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "2c3b6977-6e25-466b-8936-ce4dc1bdeb50", "operator": {"type": "string", "operation": "startsWith"}, "leftValue": "={{ $json.message?.text }}", "rightValue": "/start"}]}, "options": {}}, "id": "0032d546-2029-4bef-a19e-f4f843668f12", "name": "Is Start Cmd?", "type": "n8n-nodes-base.if", "position": [-752, 1680], "typeVersion": 2.2}, {"parameters": {"assignments": {"assignments": [{"id": "e61aa56a-d6b2-416d-99c1-67c51b631802", "name": "phone", "type": "string", "value": "={{ $('Telegram Trigger').item.json.message.text.replace('/start TEN_', '').replace('/start ', '').slice(-11) }}"}, {"id": "3270c10f-fed9-474a-be5a-b8a547e9960d", "name": "telegram_user_id", "type": "number", "value": "={{ $('Telegram Trigger').item.json.message.from.id }}"}, {"id": "53f321c7-adef-423c-8183-e109de2ddd67", "name": "chat_id", "type": "number", "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"}]}, "options": {}}, "id": "1f6df37a-6360-43e5-8a36-f335e8818d74", "name": "Extract Registration Data", "type": "n8n-nodes-base.set", "position": [-528, 1584], "typeVersion": 3.4}, {"parameters": {"operation": "executeQuery", "query": "SELECT t.*, t.name AS tenant_name FROM tenants t WHERE t.phone LIKE '%' || '{{ $json.phone }}' || '%' LIMIT 1", "options": {}}, "id": "5d802864-80fb-4e0a-a2ae-e182ccab6bc5", "name": "Lookup by Phone", "type": "n8n-nodes-base.postgres", "position": [-304, 1584], "typeVersion": 2.5, "alwaysOutputData": true, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}, "onError": "continueRegularOutput"}, {"parameters": {"operation": "update", "schema": {"__rl": true, "mode": "list", "value": "public"}, "table": {"__rl": true, "mode": "list", "value": "tenants", "cachedResultName": "tenants"}, "columns": {"value": {"phone": "={{ $('Extract Registration Data').item.json.phone }}", "telegram_id": "={{ String($('Extract Registration Data').item.json.telegram_user_id) }}"}, "schema": [{"id": "phone", "type": "string", "display": true, "required": false, "displayName": "phone", "defaultMatch": false, "canBeUsedToMatch": true}, {"id": "telegram_id", "type": "string", "display": true, "required": false, "displayName": "telegram_id", "defaultMatch": false, "canBeUsedToMatch": true}], "mappingMode": "defineBelow", "matchingColumns": ["phone"], "attemptToConvertTypes": false, "convertFieldsToString": true}, "options": {}}, "id": "45c11f35-2af0-4312-984f-4f8de450355d", "name": "Save Telegram ID", "type": "n8n-nodes-base.postgres", "position": [-80, 1584], "typeVersion": 2.5, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}}, {"parameters": {"chatId": "={{ $('Extract Registration Data').item.json.chat_id }}", "text": "Registration successful! You are now linked to your tenant account.\n\nYou can send us messages, photos, or videos about any maintenance issues.", "additionalFields": {"appendAttribution": false}}, "id": "756d58ae-8b31-4460-a28f-5bf84d28980c", "name": "Welcome Message", "type": "n8n-nodes-base.telegram", "position": [144, 1584], "webhookId": "678635af-1a74-40fd-adc2-20512a1741fa", "typeVersion": 1.2, "credentials": {"telegramApi": {"id": "5uwoGp7iX1GQkMcu", "name": "property_management"}}}, {"parameters": {"assignments": {"assignments": [{"id": "9455db51-f197-4666-9a54-deac4d2370c1", "name": "channel", "type": "string", "value": "email"}, {"id": "da85de0e-ca38-4d52-a55b-978c26551fb4", "name": "sender_identifier", "type": "string", "value": "={{ ($json.From || '').includes('<') ? ($json.From || '').match(/<([^>]+)>/)?.[1] || $json.From : $json.From }}"}, {"id": "6164e830-24bb-40dd-8670-9d533a7073de", "name": "message", "type": "string", "value": "={{ $json.snippet || $json.textPlain || $json.text || '' }}"}, {"id": "1a3ca5d5-0f73-4446-92cf-13d5347ea843", "name": "subject", "type": "string", "value": "={{ $json.subject || '' }}"}, {"id": "21cb1347-9e4d-482e-b753-279f7437c076", "name": "chat_id", "type": "string", "value": "={{ ($json.From || '').includes('<') ? ($json.From || '').match(/<([^>]+)>/)?.[1] || $json.From : $json.From }}"}, {"id": "6dfbbb16-f5ce-4301-bb1a-7b1a117982ca", "name": "has_media", "type": "boolean", "value": false}, {"id": "a1625432-03cb-4022-937f-1a210e50480b", "name": "media_type", "type": "string", "value": ""}, {"id": "eaaab461-187d-4fc7-b2fe-68362d96f8b0", "name": "external_message_id", "type": "string", "value": "={{ $json.id }}"}, {"id": "3588d2c8-ce4d-408b-8108-553f67f08a2d", "name": "media_id", "type": "string", "value": ""}, {"id": "b79fa4fc-979a-464e-bc29-cfa8ce2c1a9d", "name": "media_url", "type": "string", "value": ""}]}, "options": {}}, "id": "22db916f-6dd8-4360-ba9b-df715d7db36f", "name": "Normalize Email", "type": "n8n-nodes-base.set", "position": [-304, 2352], "typeVersion": 3.4}, {"parameters": {"assignments": {"assignments": [{"id": "41e0db6c-b639-450d-988c-7f5d298760c4", "name": "channel", "type": "string", "value": "telegram"}, {"id": "f4ac914e-bd48-408b-8fe4-e9845ebf4398", "name": "sender_identifier", "type": "string", "value": "={{ String($('Telegram Trigger').item.json.message.chat.id) }}"}, {"id": "9b15ee2d-9d83-4e0f-b82b-c2a66bfe034a", "name": "message", "type": "string", "value": "={{ $('Telegram Trigger').item.json.message.text || $('Telegram Trigger').item.json.message.caption || '' }}"}, {"id": "48ff30c9-4ccb-48d0-87f2-670681a36d6c", "name": "subject", "type": "string", "value": ""}, {"id": "21ed02eb-dbdf-4ec9-a2b8-5f0a20350c48", "name": "chat_id", "type": "string", "value": "={{ String($('Telegram Trigger').item.json.message.chat.id) }}"}, {"id": "707e5a63-d651-48bc-929f-8176198c054b", "name": "has_media", "type": "boolean", "value": "={{ !!($('Telegram Trigger').item.json.message.photo || $('Telegram Trigger').item.json.message.video || $('Telegram Trigger').item.json.message.voice || $('Telegram Trigger').item.json.message.document) }}"}, {"id": "08cd3ee8-9f38-4674-a80b-fd4d37e26277", "name": "media_type", "type": "string", "value": "={{ $('Telegram Trigger').item.json.message.photo ? 'image' : ($('Telegram Trigger').item.json.message.video ? 'video' : ($('Telegram Trigger').item.json.message.voice ? 'voice' : ($('Telegram Trigger').item.json.message.document ? 'document' : ''))) }}"}, {"id": "e3e62c5f-d21c-4c19-a712-e5ea8f067c95", "name": "external_message_id", "type": "string", "value": "=tg_{{ $('Telegram Trigger').item.json.message.message_id }}_{{ $('Telegram Trigger').item.json.message.chat.id }}"}, {"id": "11f345fd-a168-4005-ae82-18fc2a279c25", "name": "media_id", "type": "string", "value": "={{ $('Telegram Trigger').item.json.message.photo ? $('Telegram Trigger').item.json.message.photo.slice(-1)[0].file_id : ($('Telegram Trigger').item.json.message.video ? $('Telegram Trigger').item.json.message.video.file_id : ($('Telegram Trigger').item.json.message.voice ? $('Telegram Trigger').item.json.message.voice.file_id : ($('Telegram Trigger').item.json.message.document ? $('Telegram Trigger').item.json.message.document.file_id : ''))) }}"}, {"id": "c3a49da6-7aa9-4c0d-8ce4-351a2d68e303", "name": "media_url", "type": "string", "value": ""}]}, "options": {}}, "id": "280d00c5-e3d4-421b-985f-08f27a40dcbb", "name": "Normalize Telegram", "type": "n8n-nodes-base.set", "position": [-304, 1776], "typeVersion": 3.4}, {"parameters": {"assignments": {"assignments": [{"id": "229d5fba-92a8-4f42-93a5-9a45bfb301da", "name": "channel", "type": "string", "value": "={{ $json.channel }}"}, {"id": "61422741-e130-4aa4-bffb-5d352d516b4b", "name": "sender_identifier", "type": "string", "value": "={{ $json.phone }}"}, {"id": "49b4c2e4-cfd6-4cb1-9bde-cb61da0b85b4", "name": "message", "type": "string", "value": "={{ $json.message }}"}, {"id": "b20f1632-1dc8-4241-9bda-26e3287599f3", "name": "subject", "type": "string", "value": ""}, {"id": "9ebe56c9-7ada-4ddc-9bd3-78eda7e70624", "name": "chat_id", "type": "string", "value": "={{ $json.phone }}"}, {"id": "2fe10326-9dc6-44a7-aeb0-a06be5f5fc92", "name": "has_media", "type": "boolean", "value": "={{ $json.num_media > 0 }}"}, {"id": "d56d2f65-74bd-4943-a448-b9ae1029bbca", "name": "media_type", "type": "string", "value": "={{ $json.num_media > 0 ? 'image' : '' }}"}, {"id": "ae0e9a28-30b8-4cec-afa7-b59e4e411c7b", "name": "external_message_id", "type": "string", "value": "=sms_{{ $json.message_sid || $now.toMillis() }}_{{ $json.phone }}"}, {"id": "f6edfc1d-e109-4890-a9fd-4149e45e5dce", "name": "media_id", "type": "string", "value": ""}, {"id": "3ffd4693-8d88-4a34-a13e-af3d5b98f191", "name": "media_url", "type": "string", "value": "={{ $json.media_url || '' }}"}]}, "options": {}}, "id": "eb0161c7-33bb-4406-9eff-8b4df8152a81", "name": "Normalize SMS", "type": "n8n-nodes-base.set", "position": [-304, 2160], "typeVersion": 3.4}, {"parameters": {"operation": "executeQuery", "query": "SELECT t.*, t.name AS tenant_name, t.phone, t.unit_number, t.email, p.address AS property, t.emergency_contact, t.telegram_id, t.language_pref FROM tenants t LEFT JOIN properties p ON t.property_id = p.id WHERE CASE WHEN '{{ $json.channel }}' = 'email' THEN LOWER(t.email) = LOWER('{{ $json.sender_identifier.replace(/'/g, \"''\") }}') WHEN '{{ $json.channel }}' = 'sms' THEN t.phone LIKE '%' || '{{ $json.sender_identifier.replace(/'/g, \"''\") }}' || '%' WHEN '{{ $json.channel }}' = 'telegram' THEN t.telegram_id = '{{ $json.sender_identifier.replace(/'/g, \"''\") }}' WHEN '{{ $json.channel }}' = 'whatsapp' THEN t.phone LIKE '%' || RIGHT('{{ $json.sender_identifier.replace(/'/g, \"''\") }}', 10) || '%' END LIMIT 1", "options": {}}, "id": "05eccb28-cb35-43ee-9e74-aa5bde73d9bc", "name": "Lookup Tenant", "type": "n8n-nodes-base.postgres", "position": [-80, 2064], "typeVersion": 2.5, "alwaysOutputData": true, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}, "onError": "continueRegularOutput"}, {"parameters": {"conditions": {"options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "d91fe847-e80c-42a1-9d16-fb25904189e1", "operator": {"type": "boolean", "operation": "false", "singleValue": true}, "leftValue": "={{ $json.isEmpty() }}"}]}, "options": {}}, "id": "c975cf3b-5f18-4660-a006-5da5d0b2be1e", "name": "Tenant Found?", "type": "n8n-nodes-base.if", "position": [144, 2064], "typeVersion": 2.2}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO messages (chat_id, message_id, telegram_id, sender, message_text, channel, created_at, external_message_id) VALUES ('{{ ($json.norm_chat_id || '').replace(/'/g, \"''\") }}', '', '{{ ($json.telegram_id || '').replace(/'/g, \"''\") }}', '{{ ($json.name || $json.tenant_name || '').replace(/'/g, \"''\") }}', '{{ ($json.norm_message || '').replace(/'/g, \"''\") }}', '{{ $json.norm_channel || '' }}', NOW(), '{{ ($json.norm_ext_id || '').replace(/'/g, \"''\") }}') ON CONFLICT (external_message_id) WHERE external_message_id != '' DO NOTHING RETURNING *", "options": {}}, "id": "bf704c66-ce66-4c81-b038-f648eee202ce", "name": "Log Inbound Message", "type": "n8n-nodes-base.postgres", "position": [720, 1776], "typeVersion": 2.5, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}}, {"parameters": {"jsCode": "// Get tenant from Lookup Tenant\nconst tenant = $('Lookup Tenant').item.json;\n\n// Get normalized message data - try each channel's normalize node\nlet normalized = {};\ntry { normalized = $('Normalize Telegram').item.json; } catch(e) {\n try { normalized = $('Normalize Email').item.json; } catch(e2) {\n try { normalized = $('Normalize SMS').item.json; } catch(e3) {\n try { normalized = $('Normalize WhatsApp').item.json; } catch(e4) {\n try { normalized = $('Normalize WA Native').item.json; } catch(e5) {\n normalized = {};\n }\n }\n }\n }\n}\n\nreturn {\n json: {\n tenant_id: tenant.id || '',\n tenant_name: tenant.name || tenant.tenant_name || '',\n phone: tenant.phone || '',\n unit: tenant.unit_number || '',\n property: tenant.property || '',\n email: tenant.email || '',\n telegram_id: tenant.telegram_id || '',\n language_pref: tenant.language_pref || 'fr',\n channel: normalized.channel || '',\n message: normalized.message || '',\n subject: normalized.subject || '',\n chat_id: normalized.chat_id || tenant.telegram_id || '',\n sender_identifier: normalized.sender_identifier || '',\n has_media: normalized.has_media || false,\n media_type: normalized.media_type || '',\n media_id: normalized.media_id || '',\n external_message_id: normalized.external_message_id || '',\n message_db_id: $('Log Inbound Message').item.json.id || ''\n }\n};"}, "id": "03cd4777-d3c9-449e-b99d-9f9b9e0ed418", "name": "Build AI Payload", "type": "n8n-nodes-base.code", "position": [1168, 1680], "typeVersion": 2}, {"parameters": {"workflowId": {"__rl": true, "mode": "id", "value": "5WW7m5IiqvJoHWZ1"}, "workflowInputs": {"value": {}, "schema": [], "mappingMode": "autoMapInputData", "matchingColumns": [], "attemptToConvertTypes": false, "convertFieldsToString": true}, "options": {"waitForSubWorkflow": true}}, "id": "ce530685-2cad-450e-b522-27728ee38b40", "name": "Call AI Agent", "type": "n8n-nodes-base.executeWorkflow", "position": [2064, 1680], "typeVersion": 1.2}, {"parameters": {"jsCode": "// Get normalized data from whichever normalize node ran\nlet normalized = {};\ntry { normalized = $('Normalize Telegram').item.json; } catch(e) {\n try { normalized = $('Normalize Email').item.json; } catch(e2) {\n try { normalized = $('Normalize SMS').item.json; } catch(e3) {\n try { normalized = $('Normalize WhatsApp').item.json; } catch(e4) {\n normalized = {};\n }\n }\n }\n}\n\n// Don't reply to unknown email senders (could be spam/newsletters)\nif (normalized.channel === 'email') {\n return [];\n}\n\nreturn {\n json: {\n channel: normalized.channel || '',\n chat_id: normalized.chat_id || '',\n sender_identifier: normalized.sender_identifier || '',\n phone: normalized.sender_identifier || '',\n email: normalized.sender_identifier || '',\n response_text: \"Bonjour, nous n'avons pas pu identifier votre compte. Veuillez contacter votre gestionnaire immobilier.\\n\\nHello, we couldn't identify your account. Please contact your property manager.\"\n }\n};"}, "id": "73b02fe1-697e-46b9-9482-edd20e6c2485", "name": "Unknown Tenant Response", "type": "n8n-nodes-base.code", "position": [432, 2160], "typeVersion": 2}, {"parameters": {"workflowId": {"__rl": true, "mode": "id", "value": "ErGEhkdaWj0zTmQI"}, "options": {"waitForSubWorkflow": true}}, "id": "2268709a-a819-4827-91c8-6d5b4741f21b", "name": "Send Unknown Reply", "type": "n8n-nodes-base.executeWorkflow", "position": [720, 2160], "typeVersion": 1.2}, {"parameters": {"content": "## [Intake] Channel Router\n\nReceives messages from all channels, normalizes into standard format, deduplicates, looks up tenant, hands off to AI Agent.\n\nChannels: Email, Telegram, WhatsApp, SMS\nFuture: ElevenLabs Voice", "height": 180, "width": 400}, "id": "624a5f50-94f4-4081-acaa-cbe219aba572", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "position": [-1408, -208], "typeVersion": 1}, {"parameters": {"content": "## Registration Flow\n/start command -> extract phone -> save telegram_id -> welcome", "height": 80, "width": 280}, "id": "8c6bc7cb-93cd-471f-bd6f-8ba3f09a9878", "name": "Sticky Note1", "type": "n8n-nodes-base.stickyNote", "position": [-496, 112], "typeVersion": 1}, {"parameters": {"workflowId": {"__rl": true, "mode": "id", "value": "ErGEhkdaWj0zTmQI"}, "options": {"waitForSubWorkflow": true}}, "id": "1862b393-0085-4aa6-b34a-d4a34a937876", "name": "Send AI Response", "type": "n8n-nodes-base.executeWorkflow", "position": [2288, 1680], "typeVersion": 1.2}, {"parameters": {}, "id": "b63df483-c85b-4251-96fd-f1be009e41e3", "name": "When clicking \u2018Execute workflow\u2019", "type": "n8n-nodes-base.manualTrigger", "position": [-1200, -400], "typeVersion": 1}, {"parameters": {"operation": "editMessageText", "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}", "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}", "text": "={{ $('Telegram Trigger').item.json.callback_query.message.text }}\n\nProcessing...", "additionalFields": {"parse_mode": "HTML"}}, "id": "e5e48fd6-570e-412a-9d11-861f84a13e54", "name": "Remove Buttons", "type": "n8n-nodes-base.telegram", "position": [-752, 816], "webhookId": "927bd351-b943-4f94-9bc1-c5b201eb273e", "typeVersion": 1.2, "credentials": {"telegramApi": {"id": "5uwoGp7iX1GQkMcu", "name": "property_management"}}}, {"parameters": {"jsCode": "const data = $('Telegram Trigger').item.json.callback_query.data;\nconst parts = data.split('||');\nreturn {\n json: {\n action: parts[0],\n ticket_id: parts[1] || '',\n category: parts[2] || '',\n vendor_index: parts[3] || '0',\n chat_id: String($('Telegram Trigger').item.json.callback_query.message.chat.id)\n }\n};"}, "id": "ac37601f-8d81-498a-9c85-ec03da016b7b", "name": "Parse Callback", "type": "n8n-nodes-base.code", "position": [-528, 816], "typeVersion": 2}, {"parameters": {"rules": {"values": [{"conditions": {"options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "c2dc3ac6-2fe1-4ea7-9d16-4a1ce5bde823", "operator": {"type": "string", "operation": "equals"}, "leftValue": "={{ $json.action }}", "rightValue": "dispatch"}]}, "renameOutput": true, "outputKey": "dispatch"}, {"conditions": {"options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "5ceb045e-9dde-47f0-a31a-21035f151532", "operator": {"type": "string", "operation": "equals"}, "leftValue": "={{ $json.action }}", "rightValue": "manual"}]}, "renameOutput": true, "outputKey": "manual"}, {"conditions": {"options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "320f799c-4571-40d8-86a1-1e97a7afd472", "operator": {"type": "string", "operation": "equals"}, "leftValue": "={{ $json.action }}", "rightValue": "confirm_dispatch"}]}, "renameOutput": true, "outputKey": "confirm"}, {"conditions": {"options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "video-yes", "operator": {"type": "string", "operation": "equals"}, "leftValue": "={{ $json.action }}", "rightValue": "video_yes"}]}}, {"conditions": {"options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "video-no", "operator": {"type": "string", "operation": "equals"}, "leftValue": "={{ $json.action }}", "rightValue": "video_no"}]}}, {"conditions": {"options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "53932e1e-0580-4122-bc15-402722c8ec80", "operator": {"type": "string", "operation": "equals"}, "leftValue": "={{ $json.action }}", "rightValue": "resolve_yes"}]}, "renameOutput": true, "outputKey": "resolve_yes"}, {"conditions": {"options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "b9416479-8743-4025-93f5-9daf8815aed0", "operator": {"type": "string", "operation": "equals"}, "leftValue": "={{ $json.action }}", "rightValue": "resolve_no"}]}, "renameOutput": true, "outputKey": "resolve_no"}, {"conditions": {"options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "45f8b168-2957-4888-bab5-1d7a217b0e97", "operator": {"type": "string", "operation": "equals"}, "leftValue": "={{ $json.action }}", "rightValue": "mc"}]}, "renameOutput": true, "outputKey": "media_cat"}]}, "options": {"fallbackOutput": "extra"}}, "id": "d100f679-5c65-4065-97fb-dd681eb6a6b8", "name": "Route Action", "type": "n8n-nodes-base.switch", "position": [-304, 704], "typeVersion": 3.2}, {"parameters": {"operation": "executeQuery", "query": "SELECT vendor_name, email, phone FROM vendors WHERE LOWER(category) LIKE LOWER('%{{ $json.category }}%') LIMIT 10", "options": {}}, "id": "1acec58c-5613-4676-89ce-d7d559e4a00a", "name": "Lookup Vendor", "type": "n8n-nodes-base.postgres", "position": [-80, -80], "typeVersion": 2.5, "alwaysOutputData": true, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}, "onError": "continueRegularOutput"}, {"parameters": {"operation": "executeQuery", "query": "SELECT ticket_id, category, summary, description, property, unit, unit_number FROM maintenance_requests WHERE ticket_id = '{{ $('Parse Callback').item.json.ticket_id }}' LIMIT 1", "options": {}}, "id": "7cd27959-4dc6-43a9-b3f9-eb4360d07fe1", "name": "Get Ticket", "type": "n8n-nodes-base.postgres", "position": [144, -80], "typeVersion": 2.5, "alwaysOutputData": true, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}, "onError": "continueRegularOutput"}, {"parameters": {"promptType": "define", "text": "=Maintenance issue: {{ $('Get Ticket').item.json.category }} - {{ $('Get Ticket').item.json.summary || $('Get Ticket').item.json.description }}\nProperty: {{ $('Get Ticket').item.json.property }}\nUnit: {{ $('Get Ticket').item.json.unit || $('Get Ticket').item.json.unit_number }}\nVendor: {{ $('Lookup Vendor').all()[$('Parse Callback').item.json.vendor_index || 0]?.json?.vendor_name || 'Service Provider' }}", "messages": {"messageValues": [{"message": "You are writing a brief service request email. ONLY use the information provided below - do NOT add any details, speculations, or assumptions. Write exactly: 1) Greeting to the vendor by name 2) State you are Julia from Julia Inc property management 3) State ONLY the issue as described 4) State the address and unit 5) Ask for earliest availability. Maximum 4 sentences. Do NOT mention neighboring units, potential causes, or any information not explicitly provided. Sign as Julia."}]}}, "id": "e2a254bb-1ae8-419b-8828-1aa1f27f1f88", "name": "AI Vendor Msg", "type": "@n8n/n8n-nodes-langchain.chainLlm", "position": [368, -176], "typeVersion": 1.4}, {"parameters": {"model": {"__rl": true, "mode": "list", "value": "claude-haiku-4-5-20251001", "cachedResultName": "Claude Haiku 4.5"}, "options": {"temperature": 0.5}}, "id": "bf8ac99d-05ab-448e-adf3-29d9f222c481", "name": "Haiku Dispatch", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "position": [448, 48], "typeVersion": 1.3, "credentials": {"anthropicApi": {"id": "jOOjmB3sv6fwkbDV", "name": "Anthropic account"}}}, {"parameters": {"jsCode": "const vendors = $('Lookup Vendor').all().map(v => v.json);\nconst aiMsg = $('AI Vendor Msg').item.json.text || $('AI Vendor Msg').item.json.response || '';\nconst ticketId = $('Parse Callback').item.json.ticket_id;\nconst category = $('Parse Callback').item.json.category;\nconst cbData = $('Parse Callback').item.json;\n\n// Get vendor index from callback data (default 0)\nconst vendorIndex = parseInt(cbData.vendor_index || '0');\nconst vendor = vendors[vendorIndex] || vendors[0] || {};\nconst totalVendors = vendors.filter(v => v.vendor_name).length;\n\nconst preview = aiMsg.replace(/\\n/g, ' ').substring(0, 400);\n\nlet text = 'DISPATCH PREVIEW (' + (vendorIndex + 1) + '/' + totalVendors + ')\\n\\n' +\n 'Vendor: ' + (vendor.vendor_name || 'No vendor found') + '\\n' +\n 'Email: ' + (vendor.email || 'N/A') + '\\n' +\n 'Phone: ' + (vendor.phone || 'N/A') + '\\n\\n' +\n 'Message preview:\\n' + preview + '\\n\\n' +\n 'Confirm dispatch to this vendor?';\n\nreturn {\n json: {\n chat_id: '6216258938',\n text: text,\n ticket_id: ticketId,\n category: category,\n vendor_index: vendorIndex,\n total_vendors: totalVendors,\n vendor_email: vendor.email || '',\n vendor_name: vendor.vendor_name || ''\n }\n};"}, "id": "b89efd0a-2814-4638-bc81-ea7a70967d18", "name": "Show Preview", "type": "n8n-nodes-base.code", "position": [720, -80], "typeVersion": 2}, {"parameters": {"operation": "executeQuery", "query": "SELECT vendor_name, email, phone FROM vendors WHERE LOWER(category) LIKE LOWER('%{{ $json.category }}%') LIMIT 10", "options": {}}, "id": "dbc818ab-6d4b-44b1-a556-ae6b5c71ac1c", "name": "Get Contractors", "type": "n8n-nodes-base.postgres", "position": [-80, 224], "typeVersion": 2.5, "alwaysOutputData": true, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}, "onError": "continueRegularOutput"}, {"parameters": {"jsCode": "const contractors = $('Get Contractors').all().map(c => c.json);\nconst category = $('Parse Callback').item.json.category;\nconst ticketId = $('Parse Callback').item.json.ticket_id;\nlet text = 'CONTRACTORS FOR ' + category.toUpperCase() + '\\nTicket: ' + ticketId + '\\n\\n';\nif (!contractors.length || !contractors[0].vendor_name) {\n text += 'No contractors found for this category.';\n} else {\n contractors.forEach((c, i) => {\n text += (i+1) + '. ' + (c.vendor_name||'Unknown') + '\\n Phone: ' + (c.phone||'N/A') + '\\n Email: ' + (c.email||'N/A') + '\\n\\n';\n });\n}\nreturn { json: { text } };"}, "id": "e9a21d1c-026d-43d5-9081-e0f3f8bf4d44", "name": "Format List", "type": "n8n-nodes-base.code", "position": [144, 224], "typeVersion": 2}, {"parameters": {"method": "POST", "url": "https://api.telegram.org/bot8460031715:AAE1IQYICVYo3BfDcOjY4IKYVu0iI4V9lZ8/sendMessage", "sendBody": true, "bodyParameters": {"parameters": [{"name": "chat_id", "value": "6216258938"}, {"name": "text", "value": "={{ $json.text }}"}]}, "options": {}}, "id": "64344afe-d067-4d2e-a3fd-be590900b790", "name": "Send List", "type": "n8n-nodes-base.httpRequest", "position": [432, 224], "typeVersion": 4.2}, {"parameters": {"operation": "executeQuery", "query": "SELECT vendor_name, email, phone FROM vendors WHERE LOWER(category) LIKE LOWER('%{{ $json.category }}%') OFFSET {{ $json.vendor_index || 0 }} LIMIT 1", "options": {}}, "id": "ba4f0e71-f374-4eb4-9be3-20936bccdcf9", "name": "Confirm Vendor", "type": "n8n-nodes-base.postgres", "position": [-80, 528], "typeVersion": 2.5, "alwaysOutputData": true, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}, "onError": "continueRegularOutput"}, {"parameters": {"operation": "executeQuery", "query": "SELECT apply_history_fix.py backup_before_address_migration_20260326_214543.sql budibase fix_acceptance_finalized.sql fix_conversation_history_db.py fix_ezsign.sql fix_fetch_doc.sql fix_signed_format.sql matrix-scraper rv1285597:~# systemctl status caddy update_full_extract.sql FROM maintenance_requests WHERE ticket_id = '{{ $('Parse Callback').item.json.ticket_id }}' LIMIT 1", "options": {}}, "id": "7b7d1b8e-281c-4f39-8f94-e1f73bbee161", "name": "Confirm Ticket", "type": "n8n-nodes-base.postgres", "position": [144, 528], "typeVersion": 2.5, "alwaysOutputData": true, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}, "onError": "continueRegularOutput"}, {"parameters": {"promptType": "define", "text": "=Maintenance issue: {{ $json.category }} - {{ $json.summary || $json.description }}\nProperty: {{ $json.property }}\nUnit: {{ $json.unit || $json.unit_number }}\nVendor: {{ $('Confirm Vendor').item.json.vendor_name || 'Service Provider' }}", "messages": {"messageValues": [{"message": "You are writing a brief service request email. ONLY use the information provided below - do NOT add any details, speculations, or assumptions. Write exactly: 1) Greeting to the vendor by name 2) State you are Julia from Julia Inc property management 3) State ONLY the issue as described 4) State the address and unit 5) Ask for earliest availability. Maximum 4 sentences. Do NOT mention neighboring units, potential causes, or any information not explicitly provided. Sign as Julia."}]}}, "id": "0bb928ca-a38e-432a-89c2-17a08cfcc835", "name": "Confirm Vendor Msg", "type": "@n8n/n8n-nodes-langchain.chainLlm", "position": [368, 416], "typeVersion": 1.4}, {"parameters": {"model": {"__rl": true, "mode": "list", "value": "claude-haiku-4-5-20251001", "cachedResultName": "Claude Haiku 4.5"}, "options": {"temperature": 0.5}}, "id": "70d76394-0f69-4be8-bece-930a4f05b5d5", "name": "Haiku Confirm", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "position": [448, 640], "typeVersion": 1.3, "credentials": {"anthropicApi": {"id": "jOOjmB3sv6fwkbDV", "name": "Anthropic account"}}}, {"parameters": {"sendTo": "={{ $('Confirm Vendor').item.json.email }}", "subject": "=Service Request: {{ $('Confirm Ticket').item.json.category }} - {{ $('Confirm Ticket').item.json.property }}", "message": "={{ $json.text || $json.response }}", "options": {"appendAttribution": false}}, "id": "604d8fa4-1126-40d2-95a3-41255f2e6d64", "name": "Email Vendor", "type": "n8n-nodes-base.gmail", "position": [720, 528], "webhookId": "9dec9f4b-fbec-43a3-848b-f5964ba61fdd", "typeVersion": 2.1, "credentials": {"gmailOAuth2": {"id": "ws18m1zty0x1WwiD", "name": "dionfwang"}}}, {"parameters": {"method": "POST", "url": "https://api.telegram.org/bot8460031715:AAE1IQYICVYo3BfDcOjY4IKYVu0iI4V9lZ8/sendMessage", "sendBody": true, "bodyParameters": {"parameters": [{"name": "chat_id", "value": "6216258938"}, {"name": "text", "value": "=Dispatched! Email sent to {{ $('Confirm Vendor').item.json.vendor_name }} at {{ $('Confirm Vendor').item.json.email }}. Ticket {{ $('Parse Callback').item.json.ticket_id }} updated."}]}, "options": {}}, "id": "55edae12-eba9-41cc-bdaf-006c929f7ccf", "name": "Dispatch Ack", "type": "n8n-nodes-base.httpRequest", "position": [944, 528], "typeVersion": 4.2}, {"parameters": {"jsCode": "const data = $json;\nconst buttons = [];\n\n// Always show Confirm\nbuttons.push({text: \"Confirm Dispatch\", callback_data: \"confirm_dispatch||\" + data.ticket_id + \"||\" + data.category + \"||\" + data.vendor_index});\n\n// Show Next if more vendors available\nif (data.vendor_index + 1 < data.total_vendors) {\n buttons.push({text: \"Next >>\", callback_data: \"dispatch||\" + data.ticket_id + \"||\" + data.category + \"||\" + (data.vendor_index + 1)});\n}\n\n// Always show \"Show All\" as fallback\nbuttons.push({text: \"Show All\", callback_data: \"manual||\" + data.ticket_id + \"||\" + data.category});\n\nreturn {\n json: {\n method: 'POST',\n url: 'https://api.telegram.org/bot8460031715:AAE1IQYICVYo3BfDcOjY4IKYVu0iI4V9lZ8/sendMessage',\n body: {\n chat_id: '6216258938',\n text: data.text,\n reply_markup: { inline_keyboard: [buttons] }\n }\n }\n};"}, "id": "cc2fc721-d39e-4336-a837-af5d60381163", "name": "Build Preview Buttons", "type": "n8n-nodes-base.code", "position": [944, -80], "typeVersion": 2}, {"parameters": {"method": "POST", "url": "={{ $json.url }}", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.body) }}", "options": {}}, "id": "9195d528-3fa9-47cd-a88b-8f154a97049f", "name": "Send Preview HTTP", "type": "n8n-nodes-base.httpRequest", "position": [1168, -80], "typeVersion": 4.2}, {"parameters": {"operation": "executeQuery", "query": "DELETE FROM messages; SELECT 'messages cleared' as result;", "options": {}}, "id": "97f36eb7-5928-4c52-855d-84f47b5316fd", "name": "Clear Messages", "type": "n8n-nodes-base.postgres", "position": [-976, -400], "typeVersion": 2.5, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}}, {"parameters": {"operation": "executeQuery", "query": "DELETE FROM maintenance_requests; SELECT 'maintenance_requests cleared' as result;", "options": {}}, "id": "4459cc6e-4058-447f-b99a-1a09d99b68f1", "name": "Clear Tickets", "type": "n8n-nodes-base.postgres", "position": [-752, -400], "typeVersion": 2.5, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}}, {"parameters": {"jsCode": "// Merge normalized message data with tenant data\nlet normalized = {};\ntry { normalized = $('Normalize Telegram').item.json; } catch(e) {\n try { normalized = $('Normalize Email').item.json; } catch(e2) {\n try { normalized = $('Normalize SMS').item.json; } catch(e3) {\n try { normalized = $('Normalize WA Native').item.json; } catch(e4) {\n normalized = {};\n }\n }\n }\n}\n\nconst tenant = $('Lookup Tenant').item.json;\n\nreturn [{\n json: {\n ...tenant,\n norm_chat_id: normalized.chat_id || tenant.telegram_id || '',\n norm_message: normalized.message || '',\n norm_channel: normalized.channel || '',\n norm_ext_id: normalized.external_message_id || '',\n norm_subject: normalized.subject || '',\n norm_sender_identifier: normalized.sender_identifier || '',\n norm_has_media: normalized.has_media || false,\n norm_media_type: normalized.media_type || '',\n norm_media_id: normalized.media_id || '',\n norm_media_url: normalized.media_url || '',\n }\n}];"}, "id": "merge-data", "name": "Merge Tenant + Message", "type": "n8n-nodes-base.code", "position": [432, 1776], "typeVersion": 2}, {"parameters": {"jsCode": "const raw = $input.first().json;\nlet from = \"\", body = \"\", messageSid = \"\", mediaUrl = \"\", numMedia = 0;\nif (raw.body && typeof raw.body === \"object\" && raw.body.From) {\n  from = raw.body.From; body = raw.body.Body || \"\"; messageSid = raw.body.MessageSid || \"\";\n  mediaUrl = raw.body.MediaUrl0 || \"\"; numMedia = parseInt(raw.body.NumMedia || \"0\");\n} else if (raw.body && typeof raw.body === \"string\") {\n  const params = new URLSearchParams(raw.body);\n  from = params.get(\"From\") || \"\"; body = params.get(\"Body\") || \"\"; messageSid = params.get(\"MessageSid\") || \"\";\n  mediaUrl = params.get(\"MediaUrl0\") || \"\"; numMedia = parseInt(params.get(\"NumMedia\") || \"0\");\n} else {\n  from = raw.From || raw.from || \"\"; body = raw.Body || \"\";\n  messageSid = raw.MessageSid || \"\"; mediaUrl = raw.MediaUrl0 || \"\"; numMedia = parseInt(raw.NumMedia || \"0\");\n}\nif (!from && !body && numMedia === 0) { return []; }\nconst isWhatsApp = from.startsWith(\"whatsapp:\");\nconst phone = from.replace(/^whatsapp:/, \"\").replace(/^\\+/, \"\");\nconst channel = isWhatsApp ? \"whatsapp\" : \"sms\";\nreturn [{ json: { phone, message: body, message_sid: messageSid, channel, media_url: mediaUrl, num_media: numMedia } }];"}, "id": "parse-sms", "name": "Parse SMS", "type": "n8n-nodes-base.code", "position": [-528, 2160], "typeVersion": 2}, {"parameters": {"operation": "executeQuery", "query": "UPDATE maintenance_requests SET status = 'resolved', updated_at = NOW() \nWHERE ticket_id = CASE \n WHEN '{{ $json.ticket_id }}' LIKE 'TK-%' THEN '{{ $json.ticket_id }}'\n ELSE (SELECT ticket_id FROM maintenance_requests WHERE phone LIKE '%' || RIGHT('{{ $json.ticket_id }}', 10) || '%' OR telegram_id = '{{ $json.ticket_id }}' ORDER BY created_at DESC LIMIT 1)\nEND\nRETURNING ticket_id, status", "options": {}}, "id": "5d1c50ed-190e-4761-97f6-42c25a31d642", "name": "Resolve Ticket", "type": "n8n-nodes-base.postgres", "position": [-80, 816], "typeVersion": 2.5, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}}, {"parameters": {"jsCode": "const chatId = String($('Telegram Trigger').item.json.callback_query.message.chat.id);\nconst resolved = $('Resolve Ticket').first()?.json;\nconst ticketId = resolved?.ticket_id || '';\nconst isFrench = $('Telegram Trigger').item.json.callback_query?.message?.text?.includes('vid\u00e9o') || false;\n\nconst msg = isFrench\n ? 'Super! Le billet ' + ticketId + ' a \u00e9t\u00e9 marqu\u00e9 comme r\u00e9solu. Merci!'\n : 'Great! Ticket ' + ticketId + ' has been marked as resolved. Thank you!';\n\n// Send ack message\nawait this.helpers.httpRequest({\n method: 'POST',\n url: 'https://api.telegram.org/bot8460031715:AAE1IQYICVYo3BfDcOjY4IKYVu0iI4V9lZ8/sendMessage',\n body: { chat_id: chatId, text: msg },\n json: true\n});\n\nreturn [{ json: { chat_id: chatId, ticket_id: ticketId, ack_msg: msg } }];"}, "id": "5bf0c4b6-49e6-4f5d-b41e-23e8ec3c1797", "name": "Resolved Ack", "type": "n8n-nodes-base.code", "position": [144, 816], "typeVersion": 2}, {"parameters": {"jsCode": "const chatId = $('Telegram Trigger').item.json.callback_query.message.chat.id;\nconst isFrench = $('Telegram Trigger').item.json.callback_query?.message?.text?.includes('vid\u00e9o') || false;\n\nconst msg = isFrench\n ? 'Pas de souci! Quelqu\\'un de notre \u00e9quipe vous contactera bient\u00f4t.'\n : 'No worries! Someone from our team will follow up with you soon.';\n\nconst result = await this.helpers.httpRequest({\n method: 'POST',\n url: 'https://api.telegram.org/bot8460031715:AAE1IQYICVYo3BfDcOjY4IKYVu0iI4V9lZ8/sendMessage',\n body: { chat_id: chatId, text: msg },\n json: true\n});\nreturn [{ json: result }];"}, "id": "225112a8-6e16-4520-8a1f-70d208540145", "name": "Not Resolved Ack", "type": "n8n-nodes-base.code", "position": [-80, 1008], "typeVersion": 2}, {"parameters": {"conditions": {"options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "1a4e69d0-09b5-4399-8e0c-e8e56b213c75", "operator": {"type": "boolean", "operation": "true", "singleValue": true}, "leftValue": "={{ $('Merge Tenant + Message').item.json.norm_has_media }}", "rightValue": true}]}, "options": {}}, "id": "36b41b40-3576-4805-b82b-311f0400a621", "name": "Has Media?", "type": "n8n-nodes-base.if", "position": [944, 1776], "typeVersion": 2.3}, {"parameters": {"operation": "executeQuery", "query": "SELECT title, video_url, keywords::text as keywords, category FROM repair_videos ORDER BY title", "options": {}}, "id": "a52d1cd2-2c86-4bfe-b3dc-a4a3fc9487b5", "name": "Search Repair Videos", "type": "n8n-nodes-base.postgres", "position": [2512, 1680], "typeVersion": 2.6, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}}, {"parameters": {"jsCode": "// AI-powered video matching using Claude Haiku\nconst videos = $('Search Repair Videos').all().map(v => v.json);\n\nlet message = '';\nlet channel = '';\nlet chat_id = '';\nlet phone = '';\nlet email = '';\nlet responseText = '';\n\ntry {\n const payload = $('Build AI Payload').item.json;\n message = (payload.message || '').trim();\n channel = payload.channel || '';\n chat_id = payload.chat_id || '';\n phone = payload.phone || '';\n email = payload.email || '';\n} catch(e) {\n try {\n const merged = $('Merge Tenant + Message').item.json;\n message = (merged.norm_message || '').trim();\n channel = merged.norm_channel || '';\n chat_id = merged.norm_chat_id || '';\n phone = merged.phone || '';\n email = merged.email || '';\n } catch(e2) {}\n}\n\ntry {\n responseText = $('Call AI Agent').item.json.response_text || '';\n} catch(e) {}\n\nif (!message || message.length < 5) return [{ json: { has_video: false } }];\n\nconst videoList = videos.map((v, i) => i + ': \"' + v.title + '\"').join('\\n');\n\nlet bestVideo = null;\ntry {\n const response = await this.helpers.httpRequest({\n method: 'POST',\n url: 'https://api.anthropic.com/v1/messages',\n headers: {\n 'x-api-key': 'ANTHROPIC_API_KEY_SET_IN_N8N_ENV',\n 'anthropic-version': '2023-06-01',\n 'content-type': 'application/json'\n },\n body: JSON.stringify({\n model: 'claude-haiku-4-5-20251001',\n max_tokens: 20,\n messages: [{\n role: 'user',\n content: 'The tenant sent this message: \"' + message + '\"\\n\\nAvailable repair videos:\\n' + videoList + '\\n\\nRULES:\\n- Reply with ONLY a number OR \"none\"\\n- If the tenant\\'s message mentions a problem that a video covers, reply with that video\\'s number\\n- If multiple issues are mentioned, pick the ONE video most likely to help them right now\\n- If tenant says \"thank you\", \"ok\", \"yes\", or just confirms something - reply \"none\"\\n- Only reply \"none\" if truly no video is relevant'\n }]\n }),\n returnFullResponse: false\n });\n\n const parsed = typeof response === 'string' ? JSON.parse(response) : response;\n const aiAnswer = (parsed.content?.[0]?.text || '').trim().toLowerCase().split(/[\\s\\n]/)[0];\n if (aiAnswer !== 'none' && !isNaN(parseInt(aiAnswer))) {\n const idx = parseInt(aiAnswer);\n if (idx >= 0 && idx < videos.length) bestVideo = videos[idx];\n }\n} catch(e) {\n return [{ json: { has_video: false } }];\n}\n\nreturn [{\n json: {\n has_video: bestVideo !== null,\n video_url: bestVideo?.video_url || '',\n video_title: bestVideo?.title || '',\n channel: channel,\n chat_id: chat_id,\n phone: phone,\n email: email,\n response_text: responseText\n }\n}];"}, "id": "3c8b7c76-d825-4a23-bffc-c99b42de55b3", "name": "Match Video AI", "type": "n8n-nodes-base.code", "position": [2736, 1680], "typeVersion": 2}, {"parameters": {"jsCode": "const input = $input.first().json;\nif (!input.has_video || !input.video_url) return [{ json: { sent: false } }];\n\nconst channel = input.channel;\nconst chat_id = input.chat_id;\nconst phone = (input.phone || '').replace(/[^0-9]/g, '');\nconst isFrench = (input.response_text || '').includes('Bonjour') || (input.response_text || '').includes('merci');\n\nconst videoMsg = isFrench\n  ? 'Cette vid\u00e9o pourrait vous aider :\\n' + input.video_title + '\\n' + input.video_url\n  : 'This video might help:\\n' + input.video_title + '\\n' + input.video_url;\n\nconst ticketLookup = input.chat_id || '';\n\nconst questionText = isFrench \n  ? 'Est-ce que cette vid\u00e9o a aid\u00e9 \u00e0 r\u00e9soudre votre probl\u00e8me?'\n  : 'Did this video help resolve your issue?';\n\ntry {\n  if (channel === 'telegram') {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.telegram.org/bot8460031715:AAE1IQYICVYo3BfDcOjY4IKYVu0iI4V9lZ8/sendMessage',\n      body: { chat_id: chat_id, text: videoMsg },\n      json: true\n    });\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.telegram.org/bot8460031715:AAE1IQYICVYo3BfDcOjY4IKYVu0iI4V9lZ8/sendMessage',\n      body: {\n        chat_id: chat_id,\n        text: questionText,\n        reply_markup: JSON.stringify({\n          inline_keyboard: [[\n            { text: isFrench ? 'Oui \u2705' : 'Yes \u2705', callback_data: 'video_yes||' + ticketLookup },\n            { text: isFrench ? 'Non \u274c' : 'No \u274c', callback_data: 'video_no||' + ticketLookup }\n          ]]\n        })\n      },\n      json: true\n    });\n  } else if (channel === 'whatsapp') {\n    // For WhatsApp, just output the video data - a subsequent Execute Workflow node will send it\n    return [{ json: { \n      sent: false, \n      needs_wa_send: true,\n      video_message: videoMsg,\n      question_text: questionText,\n      channel, phone, chat_id, ticketLookup, isFrench,\n      video_title: input.video_title, video_url: input.video_url\n    }}];\n  }\n} catch(e) {\n  console.error('Send Video Followup error:', e.message);\n  return [{ json: { sent: false, error: e.message, channel, chat_id } }];\n}\n\nreturn [{ json: { sent: true, channel, video_title: input.video_title, chat_id, video_url: input.video_url } }];"}, "id": "16b90a2b-53af-4f07-a7e7-5f6b532a910e", "name": "Send Video Followup", "type": "n8n-nodes-base.code", "position": [2960, 1680], "typeVersion": 2}, {"parameters": {"operation": "executeQuery", "query": "UPDATE maintenance_requests SET status = 'open', updated_at = NOW() WHERE ticket_id = CASE WHEN '{{ $json.ticket_id }}' LIKE 'TK-%' THEN '{{ $json.ticket_id }}' ELSE (SELECT ticket_id FROM maintenance_requests WHERE phone LIKE '%' || RIGHT('{{ $json.ticket_id }}', 10) || '%' OR telegram_id = '{{ $json.ticket_id }}' ORDER BY created_at DESC LIMIT 1) END RETURNING ticket_id, status", "options": {}}, "id": "5e8f37db-5c7f-4247-a2e4-75b4f5b450ec", "name": "Reopen Ticket", "type": "n8n-nodes-base.postgres", "position": [-80, 1200], "typeVersion": 2.6, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}}, {"parameters": {"jsCode": "const chatId = $('Telegram Trigger').item.json.callback_query.message.chat.id;\nconst reopened = $('Reopen Ticket').first()?.json;\nconst ticketId = reopened?.ticket_id || '';\nconst isFrench = $('Telegram Trigger').item.json.callback_query?.message?.text?.includes('probl\u00e8me') || false;\n\nconst msg = isFrench\n ? 'Merci de nous avoir inform\u00e9. Le billet ' + ticketId + ' a \u00e9t\u00e9 r\u00e9ouvert et quelqu\\'un vous contactera bient\u00f4t.'\n : 'Thank you for letting us know. Ticket ' + ticketId + ' has been reopened and someone will follow up with you shortly.';\n\nawait this.helpers.httpRequest({\n method: 'POST',\n url: 'https://api.telegram.org/bot8460031715:AAE1IQYICVYo3BfDcOjY4IKYVu0iI4V9lZ8/sendMessage',\n body: { chat_id: String(chatId), text: msg },\n json: true\n});\n\nreturn [{ json: { chat_id: String(chatId), ticket_id: ticketId, ack_msg: msg } }];"}, "id": "7014adca-433a-46cb-aa24-fef1f62a3986", "name": "Reopen Ack", "type": "n8n-nodes-base.code", "position": [144, 1200], "typeVersion": 2}, {"parameters": {"jsCode": "// Send typing indicator + check if AI already responded recently (dedup)\nconst msg = $('Telegram Trigger').item.json.message;\nif (!msg || !msg.chat) return [];\n\nconst chatId = String(msg.chat.id);\n\n// Send typing indicator immediately\nawait this.helpers.httpRequest({\n method: 'POST',\n url: 'https://api.telegram.org/bot8460031715:AAE1IQYICVYo3BfDcOjY4IKYVu0iI4V9lZ8/sendChatAction',\n body: { chat_id: chatId, action: 'typing' },\n json: true\n});\n\nreturn [{ json: { ...$('Telegram Trigger').item.json, typing_sent: true } }];"}, "id": "98344bbf-abdb-4dc7-ba85-7ff5d5383a1d", "name": "Send Typing", "type": "n8n-nodes-base.code", "position": [-528, 1776], "typeVersion": 2}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO messages (chat_id, sender, message_text, channel, created_at) SELECT '{{ $json.chat_id }}', 'bot', '{{ ($json.videoMsg || '').replace(/'/g, \"''\") }}', '{{ $json.channel }}', NOW() WHERE '{{ $json.sent }}' = 'true'", "options": {}}, "id": "746f1e4d-7ce1-437a-b452-ecd85bac3ce1", "name": "Log Video Message", "type": "n8n-nodes-base.postgres", "position": [3184, 1680], "typeVersion": 2.6, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO messages (chat_id, ticket_id, sender, message_text, channel, created_at) VALUES ('{{ $json.chat_id }}', '{{ $json.ticket_id }}', 'Steven Bartlett', 'Video helped \u2014 marked as resolved \u2705', 'telegram', NOW()), ('{{ $json.chat_id }}', '{{ $json.ticket_id }}', 'bot', '{{ ($json.ack_msg || '').replace(/'/g, \"''\") }}', 'telegram', NOW() + INTERVAL '1 second')", "options": {}}, "id": "b1ebbdb5-7ef6-4361-9524-735261be4dbc", "name": "Log Resolution", "type": "n8n-nodes-base.postgres", "position": [432, 816], "typeVersion": 2.6, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO messages (chat_id, ticket_id, sender, message_text, channel, created_at) VALUES ('{{ $json.chat_id }}', '{{ $json.ticket_id }}', 'Steven Bartlett', 'Issue not resolved \u2014 ticket reopened', 'telegram', NOW()), ('{{ $json.chat_id }}', '{{ $json.ticket_id }}', 'bot', '{{ ($json.ack_msg || '').replace(/'/g, \"''\") }}', 'telegram', NOW() + INTERVAL '1 second')", "options": {}}, "id": "b161f688-eb78-47ba-9b60-250d7fd373e1", "name": "Log Reopen", "type": "n8n-nodes-base.postgres", "position": [432, 1200], "typeVersion": 2.6, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO pending_media (chat_id, file_id, channel, media_type, status) VALUES ('{{ $('Merge Tenant + Message').item.json.norm_chat_id }}', '{{ $('Merge Tenant + Message').item.json.norm_media_id }}', '{{ $('Merge Tenant + Message').item.json.norm_channel }}', '{{ $('Merge Tenant + Message').item.json.norm_media_type }}', 'pending') RETURNING id", "options": {}}, "id": "e022a74d-01de-4192-924c-eddf3e94c288", "name": "Save Pending Media", "type": "n8n-nodes-base.postgres", "position": [1168, 1872], "typeVersion": 2.6, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}}, {"parameters": {"jsCode": "const merged = $('Merge Tenant + Message').item.json;\nconst channel = merged.norm_channel;\nconst chatId = merged.norm_chat_id;\nconst pendingId = $('Save Pending Media').item.json.id;\nconst tickets = $('Get Tickets for Media').all().map(i => i.json).filter(t => t.ticket_id);\nconst shortId = pendingId.slice(-12);\n\nif (channel === 'telegram') {\n  const rows = [];\n\n  for (const t of tickets) {\n    const kw = t.keywords || t.category?.replace(/_/g, ' ') || 'open ticket';\n    const label = t.ticket_id + ' - ' + kw;\n    rows.push([{ text: label, callback_data: 'mc||' + t.ticket_id + '||' + shortId }]);\n  }\n\n  const messageText = tickets.length > 0\n    ? '\ud83d\udcf8 Photo received! Which ticket is this for?'\n    : '\ud83d\udcf8 Photo received! No open tickets found \u2014 please describe the issue first, then send the photo.';\n\n  if (rows.length > 0) {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.telegram.org/bot8460031715:AAE1IQYICVYo3BfDcOjY4IKYVu0iI4V9lZ8/sendMessage',\n      body: {\n        chat_id: chatId,\n        text: messageText,\n        reply_markup: JSON.stringify({ inline_keyboard: rows })\n      },\n      json: true\n    });\n  } else {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.telegram.org/bot8460031715:AAE1IQYICVYo3BfDcOjY4IKYVu0iI4V9lZ8/sendMessage',\n      body: { chat_id: chatId, text: messageText },\n      json: true\n    });\n  }\n}\n\nreturn [{ json: { sent: true, pending_id: pendingId, has_tickets: tickets.length > 0 } }];"}, "id": "9d39708f-7625-4621-9af4-360e20885951", "name": "Send Category Prompt", "type": "n8n-nodes-base.code", "position": [1392, 1872], "typeVersion": 2}, {"parameters": {"jsCode": "// Map short category codes OR existing ticket IDs\nconst callbackData = $('Parse Callback').item.json;\nconst shortCode = callbackData.ticket_id; // parts[1] = short category code or ticket_id\nconst shortId = callbackData.category; // parts[2] = last 12 chars of pending_id\nconst chatId = callbackData.chat_id;\n\nconst codeMap = {\n  plumb: 'plumbing', elec: 'electrical', hvac: 'hvac',\n  maint: 'general_maintenance', pest: 'pest_control', other: 'general_inquiry'\n};\n\n// If it starts with TK-, it's an existing ticket ID\nconst isExistingTicket = shortCode.startsWith('TK-');\nconst category = isExistingTicket ? shortCode : (codeMap[shortCode] || 'general_inquiry');\n\nreturn [{\n  json: {\n    short_id: shortId,\n    category: category,\n    chat_id: chatId,\n    existing_ticket: isExistingTicket,\n    ticket_id: isExistingTicket ? shortCode : ''\n  }\n}];"}, "id": "4418f3af-49f4-4f15-bb64-1f27f024714f", "name": "Parse Media Category", "type": "n8n-nodes-base.code", "position": [-80, 1392], "typeVersion": 2}, {"parameters": {"operation": "executeQuery", "query": "UPDATE pending_media SET category = '{{ $json.category }}', ticket_id = CASE WHEN '{{ $json.existing_ticket }}' = 'true' THEN '{{ $json.ticket_id }}' ELSE ticket_id END, status = 'categorized' WHERE id::text LIKE '%{{ $json.short_id }}' RETURNING *", "options": {}}, "id": "db25f402-6ef2-401b-9b2e-3002f2d91874", "name": "Update Pending Category", "type": "n8n-nodes-base.postgres", "position": [144, 1392], "typeVersion": 2.6, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}}, {"parameters": {"jsCode": "const chatId = $('Parse Callback').item.json.chat_id;\nconst category = $json.category || 'unknown';\nconst isFrench = false; // TODO: detect language\n\nconst categoryLabels = {\n plumbing: 'Plumbing', electrical: 'Electrical', hvac: 'Heating/AC',\n general_maintenance: 'General Maintenance', pest_control: 'Pest Control',\n general_inquiry: 'Other'\n};\n\nconst label = categoryLabels[category] || category;\nconst msg = 'Got it! Your photo has been logged under **' + label + '**. We\\'ll include it with your ticket.';\n\nawait this.helpers.httpRequest({\n method: 'POST',\n url: 'https://api.telegram.org/bot8460031715:AAE1IQYICVYo3BfDcOjY4IKYVu0iI4V9lZ8/sendMessage',\n body: { chat_id: chatId, text: msg, parse_mode: 'Markdown' },\n json: true\n});\n\nreturn [{ json: { sent: true } }];"}, "id": "2f44e8b6-5d75-4fd4-9c86-5963cd90d00f", "name": "Media Category Ack", "type": "n8n-nodes-base.code", "position": [432, 1392], "typeVersion": 2}, {"parameters": {"operation": "executeQuery", "query": "SELECT pm.id, pm.file_id, pm.media_type, pm.channel, pm.category, t.name as tenant_name, COALESCE(p.address, 'Unknown Property') as property FROM pending_media pm LEFT JOIN tenants t ON t.telegram_id = pm.chat_id::text LEFT JOIN properties p ON t.property_id = p.id WHERE pm.chat_id = {{ $('Parse Callback').item.json.chat_id }}::bigint AND pm.status = 'categorized' AND (pm.file_url IS NULL OR pm.file_url = '') ORDER BY pm.created_at DESC LIMIT 1", "options": {}}, "id": "fc976ba6-eada-4d61-9a85-e27f0f861069", "name": "Get Pending File", "type": "n8n-nodes-base.postgres", "position": [720, 1392], "typeVersion": 2.6, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}}, {"parameters": {"conditions": {"options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "c0aa20a3-cf38-4632-9f00-812ef0bf9001", "operator": {"type": "string", "operation": "exists", "singleValue": true}, "leftValue": "={{ $json.file_id }}"}]}, "options": {}}, "id": "03d76908-add3-4daa-99fc-bd6380aa0a3d", "name": "Has File?", "type": "n8n-nodes-base.if", "position": [944, 1392], "typeVersion": 2.3}, {"parameters": {"url": "=https://api.telegram.org/bot8460031715:AAE1IQYICVYo3BfDcOjY4IKYVu0iI4V9lZ8/getFile?file_id={{ $('Get Pending File').item.json.file_id }}", "options": {}}, "id": "fba90f50-64aa-42cf-aece-e29ef89280df", "name": "TG Get File Path", "type": "n8n-nodes-base.httpRequest", "position": [1168, 1392], "typeVersion": 4.2}, {"parameters": {"url": "=https://api.telegram.org/file/bot8460031715:AAE1IQYICVYo3BfDcOjY4IKYVu0iI4V9lZ8/{{ $json.result.file_path }}", "options": {"response": {"response": {"responseFormat": "file"}}}}, "id": "71dfe8a0-faef-4686-b5b5-49782b89e786", "name": "TG Download Photo", "type": "n8n-nodes-base.httpRequest", "position": [1392, 1392], "typeVersion": 4.2}, {"id": "e04a7c4b-8ed0-4018-9f4e-e4bf358e3c2b", "name": "Save Photo Locally", "type": "n8n-nodes-base.code", "position": [1616, 1392], "typeVersion": 2, "parameters": {"jsCode": "const items = $input.all();\nconst item = items[0];\nconst binaryKey = Object.keys(item.binary || {})[0];\nif (!binaryKey) return [{ json: { saved: false } }];\n\nconst binary = item.binary[binaryKey];\nconst mimeExt = (binary.mimeType || '').split('/').pop() || 'jpg';\nconst ext = binary.fileExtension || mimeExt;\nconst filename = Date.now() + '_' + Math.random().toString(36).slice(2,8) + '.' + ext;\nconst filePath = '/files/media/' + filename;\n\n// Use n8n's built-in binary helper to get the actual buffer\nconst dataBuffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\nconst fs = require('fs');\nfs.writeFileSync(filePath, dataBuffer);\n\nreturn [{ json: { saved: true, filename, filePath, url: '/api/media/' + filename } }];"}}, {"id": "670a6914-5342-4a01-9f1c-8d44f1b2e25f", "name": "Share Photo", "type": "n8n-nodes-base.code", "position": [1840, 1392], "typeVersion": 2, "parameters": {"jsCode": "return $input.all();"}}, {"parameters": {"operation": "executeQuery", "query": "UPDATE pending_media SET file_url = '{{ $json.url }}', status = 'uploaded' WHERE id = '{{ $(\"Get Pending File\").item.json.id }}' RETURNING id, file_url, chat_id", "options": {}}, "id": "07850d4f-007f-48c7-98de-0f7d4d63d877", "name": "Update Pending URL", "type": "n8n-nodes-base.postgres", "position": [2064, 1392], "typeVersion": 2.6, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}}, {"parameters": {"operation": "executeQuery", "query": "SELECT COALESCE((SELECT bot_paused FROM tenants WHERE phone = '{{ ($json.norm_phone || $json.phone || \"\").replace(/'/g, \"''\") }}' OR telegram_id::text = '{{ ($json.telegram_id || \"\").replace(/'/g, \"''\") }}' OR LOWER(email) = LOWER('{{ ($json.email || \"\").replace(/'/g, \"''\") }}') LIMIT 1), false) AS bot_paused", "options": {}}, "id": "check-bot-paused-001", "name": "Check Bot Paused", "type": "n8n-nodes-base.postgres", "position": [1392, 1680], "typeVersion": 2.5, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}}, {"parameters": {"conditions": {"options": {"version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "loose"}, "combinator": "and", "conditions": [{"id": "bot-active-cond-001", "operator": {"type": "boolean", "operation": "false"}, "leftValue": "={{ $json.bot_paused }}", "rightValue": false}]}, "options": {}}, "id": "bot-active-check-001", "name": "Bot Active?", "type": "n8n-nodes-base.if", "position": [1616, 1680], "typeVersion": 2.2}, {"parameters": {"jsCode": "return { json: $(\"Build AI Payload\").item.json };"}, "id": "restore-payload-001", "name": "Restore Payload", "type": "n8n-nodes-base.code", "position": [1840, 1680], "typeVersion": 2}, {"parameters": {"httpMethod": "POST", "path": "wa-intake", "options": {}}, "id": "6f20ce5c-9681-4a81-97cb-5860177726f8", "name": "WA Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-752, 2400], "webhookId": "a00d1519-5717-4cc9-be1a-954489e8749c"}, {"parameters": {"jsCode": "const raw = $input.first().json;\nlet phone = '', message = '', messageId = '', senderName = '';\nif (raw.body && typeof raw.body === 'object') {\n  phone = (raw.body.phone || '').replace(/^\\+/, '');\n  message = raw.body.message || '';\n  messageId = raw.body.messageId || '';\n  senderName = raw.body.senderName || '';\n} else if (raw.body && typeof raw.body === 'string') {\n  const params = new URLSearchParams(raw.body);\n  phone = (params.get('phone') || '').replace(/^\\+/, '');\n  message = params.get('message') || '';\n  messageId = params.get('messageId') || '';\n  senderName = params.get('senderName') || '';\n} else {\n  phone = (raw.phone || '').replace(/^\\+/, '');\n  message = raw.message || '';\n  messageId = raw.messageId || '';\n  senderName = raw.senderName || '';\n}\nif (!phone && !message) { return []; }\nreturn [{ json: { phone, message, message_sid: messageId, channel: 'whatsapp', media_url: '', num_media: 0, sender_name: senderName } }];"}, "id": "ec3568bb-27c6-43e6-b957-58a194ebdd58", "name": "Parse WA Native", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-528, 2400]}, {"parameters": {"mode": "runOnceForEachItem", "jsCode": "const inp = $input.item.json;\nconst phone = String(inp.phone || '').replace(/^\\+/, '');\nconst msgSid = inp.message_sid || String(Date.now());\nreturn {\n  channel: 'whatsapp',\n  sender_identifier: phone,\n  message: inp.message || '',\n  subject: '',\n  chat_id: phone,\n  has_media: false,\n  media_type: '',\n  external_message_id: 'wa_' + msgSid + '_' + phone,\n  media_id: '',\n  media_url: ''\n};"}, "id": "d536c41d-48aa-4d3b-b90e-b68a334def56", "name": "Normalize WA Native", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-304, 2400]}, {"parameters": {"conditions": {"options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "wa-vid-check", "operator": {"type": "boolean", "operation": "true", "singleValue": true}, "leftValue": "={{ $json.needs_wa_send }}"}]}, "options": {}}, "id": "wa-video-check", "name": "Needs WA Video?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [3088, 1680]}, {"parameters": {"jsCode": "const inp = $input.first().json;\nreturn {\n  json: {\n    response_text: inp.video_message,\n    channel: 'whatsapp',\n    chat_id: inp.phone,\n    phone: inp.phone,\n    email: '',\n    tenant_name: ''\n  }\n};"}, "id": "wa-video-set", "name": "Format WA Video Payload", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3152, 1584]}, {"parameters": {"workflowId": {"__rl": true, "mode": "id", "value": "ErGEhkdaWj0zTmQI"}, "options": {"waitForSubWorkflow": true}}, "id": "wa-video-dispatch", "name": "Send WA Video", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.2, "position": [3168, 1872]}, {"parameters": {"jsCode": "const items = $('Send Video Followup').all();\nconst data = items[0]?.json || {};\nif (!data.needs_wa_send) return [];\nconst phone = (data.phone || '').replace(/[^0-9]/g, '');\nif (!phone) return [];\nreturn [{ json: { phone } }];"}, "id": "wa-buttons-prep", "name": "Format WA Question", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3328, 1584]}, {"parameters": {"phoneNumberId": "971537566052793", "recipientPhoneNumber": "={{ $json.phone }}", "template": "video_feedback|en"}, "id": "wa-buttons-send", "name": "Send WA Question", "type": "n8n-nodes-base.whatsApp", "typeVersion": 1.1, "position": [3504, 1584], "webhookId": "cb0e2e6c-6d95-4030-9092-8697b570dc97", "credentials": {"whatsAppApi": {"id": "we3yhVhUwWRnkTGz", "name": "WhatsApp account"}}}, {"id": "get-tickets-for-media", "name": "Get Tickets for Media", "type": "n8n-nodes-base.postgres", "position": [1408, 1872], "typeVersion": 2.5, "parameters": {"operation": "executeQuery", "query": "SELECT ticket_id, category, keywords, LEFT(summary, 40) as summary FROM maintenance_requests WHERE (phone LIKE '%' || RIGHT('{{ ($json.phone || '').replace(/'/g, \"''\") }}', 10) || '%' OR telegram_id = '{{ $json.telegram_id || $json.norm_chat_id || '' }}') AND status NOT IN ('closed', 'resolved') ORDER BY created_at DESC LIMIT 5", "options": {"alwaysOutputData": true}}, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}}, {"id": "link-media-to-msg", "name": "Link Media to Message", "type": "n8n-nodes-base.postgres", "position": [2304, 1392], "typeVersion": 2.5, "parameters": {"operation": "executeQuery", "query": "UPDATE messages SET media = '{\"type\":\"image\",\"url\":\"{{ $json.file_url }}\"}', ticket_id = '{{ $(\"Update Pending Category\").item.json.category }}' WHERE id = (  SELECT id FROM messages  WHERE chat_id::text = '{{ $json.chat_id }}'  AND (message_text IS NULL OR message_text = '')  AND sender NOT IN ('bot', 'system', 'owner')  AND ticket_id IS NULL  ORDER BY created_at DESC LIMIT 1) RETURNING id", "options": {}}, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}}], "connections": {"Has File?": {"main": [[{"node": "TG Get File Path", "type": "main", "index": 0}], []]}, "Parse SMS": {"main": [[{"node": "Normalize SMS", "type": "main", "index": 0}]]}, "Get Ticket": {"main": [[{"node": "AI Vendor Msg", "type": "main", "index": 0}]]}, "Has Media?": {"main": [[{"node": "Save Pending Media", "type": "main", "index": 0}], [{"node": "Build AI Payload", "type": "main", "index": 0}]]}, "Reopen Ack": {"main": [[{"node": "Log Reopen", "type": "main", "index": 0}]]}, "Bot Active?": {"main": [[{"node": "Restore Payload", "type": "main", "index": 0}], []]}, "Format List": {"main": [[{"node": "Send List", "type": "main", "index": 0}]]}, "SMS Webhook": {"main": [[{"node": "Parse SMS", "type": "main", "index": 0}]]}, "Send Typing": {"main": [[{"node": "Normalize Telegram", "type": "main", "index": 0}]]}, "Share Photo": {"main": [[{"node": "Update Pending URL", "type": "main", "index": 0}]]}, "Email Vendor": {"main": [[{"node": "Dispatch Ack", "type": "main", "index": 0}]]}, "Is Callback?": {"main": [[{"node": "Remove Buttons", "type": "main", "index": 0}], [{"node": "Is Start Cmd?", "type": "main", "index": 0}]]}, "Resolved Ack": {"main": [[{"node": "Log Resolution", "type": "main", "index": 0}]]}, "Route Action": {"main": [[{"node": "Lookup Vendor", "type": "main", "index": 0}], [{"node": "Get Contractors", "type": "main", "index": 0}], [{"node": "Confirm Vendor", "type": "main", "index": 0}], [{"node": "Resolve Ticket", "type": "main", "index": 0}], [{"node": "Not Resolved Ack", "type": "main", "index": 0}], [{"node": "Resolve Ticket", "type": "main", "index": 0}], [{"node": "Reopen Ticket", "type": "main", "index": 0}], [{"node": "Parse Media Category", "type": "main", "index": 0}], []]}, "Show Preview": {"main": [[{"node": "Build Preview Buttons", "type": "main", "index": 0}]]}, "AI Vendor Msg": {"main": [[{"node": "Show Preview", "type": "main", "index": 0}]]}, "Call AI Agent": {"main": [[{"node": "Send AI Response", "type": "main", "index": 0}]]}, "Gmail Trigger": {"main": [[{"node": "Normalize Email", "type": "main", "index": 0}]]}, "Haiku Confirm": {"ai_languageModel": [[{"node": "Confirm Vendor Msg", "type": "ai_languageModel", "index": 0}]]}, "Is Start Cmd?": {"main": [[{"node": "Extract Registration Data", "type": "main", "index": 0}], [{"node": "Send Typing", "type": "main", "index": 0}]]}, "Lookup Tenant": {"main": [[{"node": "Tenant Found?", "type": "main", "index": 0}]]}, "Lookup Vendor": {"main": [[{"node": "Get Ticket", "type": "main", "index": 0}]]}, "Normalize SMS": {"main": [[{"node": "Lookup Tenant", "type": "main", "index": 0}]]}, "Reopen Ticket": {"main": [[{"node": "Reopen Ack", "type": "main", "index": 0}]]}, "Tenant Found?": {"main": [[{"node": "Merge Tenant + Message", "type": "main", "index": 0}], [{"node": "Unknown Tenant Response", "type": "main", "index": 0}]]}, "Clear Messages": {"main": [[{"node": "Clear Tickets", "type": "main", "index": 0}]]}, "Confirm Ticket": {"main": [[{"node": "Confirm Vendor Msg", "type": "main", "index": 0}]]}, "Confirm Vendor": {"main": [[{"node": "Confirm Ticket", "type": "main", "index": 0}]]}, "Haiku Dispatch": {"ai_languageModel": [[{"node": "AI Vendor Msg", "type": "ai_languageModel", "index": 0}]]}, "Match Video AI": {"main": [[{"node": "Send Video Followup", "type": "main", "index": 0}]]}, "Parse Callback": {"main": [[{"node": "Route Action", "type": "main", "index": 0}]]}, "Remove Buttons": {"main": [[{"node": "Parse Callback", "type": "main", "index": 0}]]}, "Resolve Ticket": {"main": [[{"node": "Resolved Ack", "type": "main", "index": 0}]]}, "Get Contractors": {"main": [[{"node": "Format List", "type": "main", "index": 0}]]}, "Lookup by Phone": {"main": [[{"node": "Save Telegram ID", "type": "main", "index": 0}]]}, "Normalize Email": {"main": [[{"node": "Lookup Tenant", "type": "main", "index": 0}]]}, "Restore Payload": {"main": [[{"node": "Call AI Agent", "type": "main", "index": 0}]]}, "Build AI Payload": {"main": [[{"node": "Check Bot Paused", "type": "main", "index": 0}]]}, "Check Bot Paused": {"main": [[{"node": "Bot Active?", "type": "main", "index": 0}]]}, "Get Pending File": {"main": [[{"node": "Has File?", "type": "main", "index": 0}]]}, "Save Telegram ID": {"main": [[{"node": "Welcome Message", "type": "main", "index": 0}]]}, "Send AI Response": {"main": [[{"node": "Search Repair Videos", "type": "main", "index": 0}]]}, "TG Get File Path": {"main": [[{"node": "TG Download Photo", "type": "main", "index": 0}]]}, "Telegram Trigger": {"main": [[{"node": "Is Callback?", "type": "main", "index": 0}]]}, "TG Download Photo": {"main": [[{"node": "Save Photo Locally", "type": "main", "index": 0}]]}, "Confirm Vendor Msg": {"main": [[{"node": "Email Vendor", "type": "main", "index": 0}]]}, "Media Category Ack": {"main": [[{"node": "Get Pending File", "type": "main", "index": 0}]]}, "Normalize Telegram": {"main": [[{"node": "Lookup Tenant", "type": "main", "index": 0}]]}, "Save Pending Media": {"main": [[{"node": "Get Tickets for Media", "type": "main", "index": 0}]]}, "Log Inbound Message": {"main": [[{"node": "Has Media?", "type": "main", "index": 0}]]}, "Send Video Followup": {"main": [[{"node": "Log Video Message", "type": "main", "index": 0}, {"node": "Needs WA Video?", "type": "main", "index": 0}]]}, "Parse Media Category": {"main": [[{"node": "Update Pending Category", "type": "main", "index": 0}]]}, "Search Repair Videos": {"main": [[{"node": "Match Video AI", "type": "main", "index": 0}]]}, "Build Preview Buttons": {"main": [[{"node": "Send Preview HTTP", "type": "main", "index": 0}]]}, "Merge Tenant + Message": {"main": [[{"node": "Log Inbound Message", "type": "main", "index": 0}]]}, "Unknown Tenant Response": {"main": [[{"node": "Send Unknown Reply", "type": "main", "index": 0}]]}, "Update Pending Category": {"main": [[{"node": "Media Category Ack", "type": "main", "index": 0}]]}, "Extract Registration Data": {"main": [[{"node": "Lookup by Phone", "type": "main", "index": 0}]]}, "When clicking 'Execute workflow'": {"main": [[{"node": "Clear Messages", "type": "main", "index": 0}]]}, "When clicking \u2018Execute workflow\u2019": {"main": [[{"node": "Clear Messages", "type": "main", "index": 0}]]}, "WA Webhook": {"main": [[{"node": "Parse WA Native", "type": "main", "index": 0}]]}, "Parse WA Native": {"main": [[{"node": "Normalize WA Native", "type": "main", "index": 0}]]}, "Normalize WA Native": {"main": [[{"node": "Lookup Tenant", "type": "main", "index": 0}]]}, "Needs WA Video?": {"main": [[{"node": "Format WA Video Payload", "type": "main", "index": 0}], []]}, "Format WA Video Payload": {"main": [[{"node": "Send WA Video", "type": "main", "index": 0}]]}, "Send WA Video": {"main": [[{"node": "Format WA Question", "type": "main", "index": 0}]]}, "Format WA Question": {"main": [[{"node": "Send WA Question", "type": "main", "index": 0}]]}, "Save Photo Locally": {"main": [[{"node": "Share Photo", "type": "main", "index": 0}]]}, "Get Tickets for Media": {"main": [[{"node": "Send Category Prompt", "type": "main", "index": 0}]]}, "Update Pending URL": {"main": [[{"node": "Link Media to Message", "type": "main", "index": 0}]]}}, "settings": {"callerPolicy": "workflowsFromSameOwner", "errorWorkflow": "ZK5jzQ8cMlLiMdeZ", "availableInMCP": false, "executionOrder": "v1", "maxConcurrency": 1}}