Desktop/Projects/julia-pm/workflows/Owner_Message_Sender.json
{
  "updatedAt": "2026-04-11T20:20:12.264Z",
  "createdAt": "2026-03-23T20:16:08.523Z",
  "id": "owner-msg-sender-001",
  "name": "[Owner] Message Sender",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-owner-001",
      "name": "Owner Message Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "owner-message",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "fdb894ae-130a-4f95-9f87-a9cfc87033ca"
    },
    {
      "id": "normalize-owner-001",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst text = (body.text || '').trim();\nreturn [{ json: {\n  ticket_id: body.ticket_id || '',\n  channel: body.channel || '',\n  chat_id: String(body.chat_id || ''),\n  phone: body.phone || '',\n  email: body.email || '',\n  text: text,\n  response_text: text,\n} }];"
      }
    },
    {
      "id": "log-owner-msg-001",
      "name": "Log to Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        440,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (ticket_id, sender, message_text, channel, chat_id, created_at) VALUES ('{{ $json.ticket_id.replace(/'/g, \"''\") }}', 'owner', '{{ $json.text.replace(/'/g, \"''\") }}', '{{ $json.channel }}', '{{ $json.chat_id.replace(/'/g, \"''\") }}', NOW()) ON CONFLICT DO NOTHING",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "JlETYTnhAwFrsmL9",
          "name": "Julia DB"
        }
      }
    },
    {
      "id": "switch-channel-001",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sw-tg-001",
                    "leftValue": "={{ $('Normalize Input').item.json.channel }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "telegram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sw-sms-001",
                    "leftValue": "={{ $('Normalize Input').item.json.channel }}",
                    "rightValue": "sms",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sms"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sw-wa-001",
                    "leftValue": "={{ $('Normalize Input').item.json.channel }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sw-em-001",
                    "leftValue": "={{ $('Normalize Input').item.json.channel }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "email"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      }
    },
    {
      "id": "send-telegram-001",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text.substring(0, 4090) }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "send-sms-001",
      "name": "Send SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        260
      ],
      "parameters": {
        "jsCode": "// Send SMS owner reply via Twilio REST API (refactored from native node to use $env)\nconst sid = $env.TWILIO_ACCOUNT_SID;\nconst token = $env.TWILIO_AUTH_TOKEN;\nconst fromNumber = $env.TWILIO_FROM_NUMBER || '+14389009998';\n\nif (!sid || !token) {\n  throw new Error('Missing Twilio credentials: TWILIO_ACCOUNT_SID and TWILIO_AUTH_TOKEN must be set');\n}\n\nconst to = $json.phone;\nconst messageBody = $json.text || '';\n\nconst auth = Buffer.from(sid + ':' + token).toString('base64');\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `https://api.twilio.com/2010-04-01/Accounts/${sid}/Messages.json`,\n  headers: {\n    'Authorization': 'Basic ' + auth,\n    'Content-Type': 'application/x-www-form-urlencoded'\n  },\n  body: 'From=' + encodeURIComponent(fromNumber) + '&To=' + encodeURIComponent(to) + '&Body=' + encodeURIComponent(messageBody),\n  json: false,\n  returnFullResponse: false,\n  timeout: 15000\n});\n\nconst parsed = typeof response === 'string' ? JSON.parse(response) : response;\n\nreturn [{\n  json: {\n    sent: true,\n    sid: parsed.sid || null,\n    to: parsed.to || to,\n    from: parsed.from || fromNumber,\n    status: parsed.status || 'sent'\n  }\n}];"
      }
    },
    {
      "id": "send-whatsapp-001",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: ($json.phone.replace(/[^0-9]/g, '')), type: 'text', text: { body: ($json.text) } }) }}",
        "options": {}
      }
    },
    {
      "id": "send-email-001",
      "name": "Send Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        580
      ],
      "parameters": {
        "jsCode": "// Send email via dashboard Gmail OAuth token\nconst tokenRes = await this.helpers.httpRequest({\n  method: 'GET',\n  url: ($env.DASHBOARD_INTERNAL_URL || 'http://pm-dash:3000') + '/api/auth/google/token',\n  json: true,\n  timeout: 10000\n});\n\nif (!tokenRes.access_token) {\n  // Gmail not connected \u2014 notify owner via Telegram\nconst ownerChatId = $env.TELEGRAM_OWNER_CHAT_ID || '6216258938';\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage',\n    body: { chat_id: ownerChatId, text: '\u26a0\ufe0f Gmail disconnected \u2014 email could not be sent. Please reconnect Gmail on the dashboard Settings page.' },\n    json: true,\n    timeout: 10000\n  });\n} catch (e) {}\nreturn [{ json: { sent: false, error: 'Gmail not connected' } }];\n}\n\nconst to = $json.email;\nconst subject = 'Julia Inc - Property Management';\nconst body = $json.text || '';\nconst fromEmail = tokenRes.email || '';\n\nconst rawEmail = `From: ${fromEmail}\\r\\nTo: ${to}\\r\\nSubject: ${subject}\\r\\nContent-Type: text/plain; charset=utf-8\\r\\n\\r\\n${body}`;\nconst encoded = Buffer.from(rawEmail).toString('base64').replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/, '');\n\nconst sendRes = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://gmail.googleapis.com/gmail/v1/users/me/messages/send',\n  headers: { 'Authorization': 'Bearer ' + tokenRes.access_token, 'Content-Type': 'application/json' },\n  body: JSON.stringify({ raw: encoded }),\n  json: true,\n  timeout: 15000\n});\n\nreturn [{ json: { sent: true, id: sendRes.id, to, subject } }];"
      }
    }
  ],
  "connections": {
    "Owner Message Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Log to Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Messages": {
      "main": [
        [
          {
            "node": "Route by Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Channel": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "ZK5jzQ8cMlLiMdeZ"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b19003bd-f6f4-438c-97ff-733d7c29d9d4",
  "activeVersionId": "b19003bd-f6f4-438c-97ff-733d7c29d9d4",
  "versionCounter": 204,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-23T20:41:08.755Z",
      "createdAt": "2026-03-23T20:41:08.755Z",
      "role": "workflow:owner",
      "workflowId": "owner-msg-sender-001",
      "projectId": "OG7kkLwgqLqxkXvS",
      "project": {
        "updatedAt": "2026-03-20T21:19:18.843Z",
        "createdAt": "2026-03-20T21:05:50.448Z",
        "id": "OG7kkLwgqLqxkXvS",
        "name": "Dion Wang <dionbuildsai@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1331ae1b-9839-4442-b515-c3bfee6e7c95"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version b19003bd",
    "description": ""
  }
}