Desktop/Projects/julia-pm/workflows/WhatsApp_Meta_Intake.json
{
  "updatedAt": "2026-04-05T00:54:28.083Z",
  "createdAt": "2026-03-27T03:32:40.239Z",
  "id": "x6LjYZQ2l05BS8uP",
  "name": "[Intake] WhatsApp Meta",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e9ef35f8-7bbb-4e6a-8861-178b343ded47",
      "name": "WA Verify GET",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        304
      ],
      "webhookId": "2fa8271b-036d-45d4-b2af-0950a63dcaa8",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d821c07d-7dd3-40ce-92c8-b56ffab10388",
      "name": "Return Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        480,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-intake",
        "options": {
          "rawBody": true
        }
      },
      "id": "81db1a10-f6fc-4680-9887-8d7720b714a6",
      "name": "WA Message POST",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        528
      ],
      "webhookId": "dec49453-ecc6-48d8-bbd7-c24301f08cce",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst changes = body.entry?.[0]?.changes?.[0]?.value || {};\nconst messages = changes.messages || [];\n\n// LIVE-only: drop test number traffic so dev handles it exclusively\n// Test number 1002910989571888 is shared between live and dev Meta apps\nconst incomingPhoneId = changes.metadata?.phone_number_id || '';\nif (incomingPhoneId === '1002910989571888') {\n  // Silently drop \u2014 dev workflow will handle this message\n  return [];\n}\n\nif (messages.length === 0) return [];\n\nconst msg = messages[0];\nconst senderPhone = msg.from;\n\n// Handle interactive button replies (video_yes/no + media ticket selection)\nif (msg.type === 'interactive' && msg.interactive?.button_reply) {\n  const buttonTitle = (msg.interactive.button_reply.title || '').toLowerCase().trim();\n  const buttonId = msg.interactive.button_reply.id || '';\n  let action = '';\n  if (buttonTitle === 'yes') action = 'video_yes';\n  else if (buttonTitle === 'no') action = 'video_no';\n  else action = buttonId;\n  return [{ json: { senderPhone, text: '', messageId: msg.id, buttonReplyId: action, isCallback: true } }];\n}\n\n// Handle interactive list replies (media ticket selection)\nif (msg.type === 'interactive' && msg.interactive?.list_reply) {\n  const listId = msg.interactive.list_reply.id || '';\n  return [{ json: { senderPhone, text: '', messageId: msg.id, buttonReplyId: listId, isCallback: true } }];\n}\n\n// Handle template quick reply buttons\nif (msg.type === 'button' && msg.button) {\n  const buttonText = (msg.button.text || '').toLowerCase().trim();\n  const buttonPayload = msg.button.payload || '';\n  let action = '';\n  if (buttonText === 'yes' || buttonPayload === 'yes') action = 'video_yes';\n  else if (buttonText === 'no' || buttonPayload === 'no') action = 'video_no';\n  else action = buttonPayload || buttonText;\n  return [{ json: { senderPhone, text: '', messageId: msg.id, buttonReplyId: action, isCallback: true } }];\n}\n\n// Handle media (image, video, document, audio)\nif (['image', 'video', 'document', 'audio'].includes(msg.type)) {\n  const mediaObj = msg[msg.type] || {};\n  const caption = mediaObj.caption || '';\n  return [{ json: {\n    senderPhone, text: caption, messageId: msg.id,\n    isCallback: false, isMedia: true,\n    mediaType: msg.type, mediaId: mediaObj.id || ''\n  }}];\n}\n\nconst text = msg.text?.body || msg.caption || '';\nif (!text.trim()) return [];\n\nreturn [{ json: { senderPhone, text, messageId: msg.id, isCallback: false, isMedia: false } }];"
      },
      "id": "9e58d7a4-cd5c-4f15-bf23-65a37acc05fe",
      "name": "Parse Meta Message",
      "type": "n8n-nodes-base.code",
      "position": [
        480,
        528
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.WEBHOOK_URL ? $env.WEBHOOK_URL.replace(/\\/$/, '') : 'http://localhost:5678') + '/webhook/wa-intake' }}",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.senderPhone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.text }}"
            },
            {
              "name": "messageId",
              "value": "={{ $json.messageId }}"
            },
            {
              "name": "senderName",
              "value": "={{ $json.senderName || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f25ac842-1976-4e07-aa26-66ccf495d2e3",
      "name": "Forward to WA Intake",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        720,
        528
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "wa-cb-check",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.isCallback }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wa-route-callback",
      "name": "Is WA Callback?",
      "type": "n8n-nodes-base.if",
      "position": [
        480,
        112
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst buttonId = input.buttonReplyId || '';\nconst phone = (input.senderPhone || '').replace(/[^0-9]/g, '');\n\nif (!buttonId || !phone) return [{ json: { handled: false, reason: 'no button or phone' } }];\n\nconst isFrench = false;\nlet msg = '';\nlet resolveTicket = false;\nlet isMediaCallback = false;\nlet mediaTicketId = '';\nlet mediaShortId = '';\n\nif (buttonId.startsWith('video_yes')) {\n  msg = isFrench\n    ? \"Super! Content que la vid\u00e9o ait aid\u00e9. Si vous avez d'autres questions, n'h\u00e9sitez pas.\"\n    : 'Great! Glad the video helped. If you have any other questions, feel free to reach out.';\n  resolveTicket = true;\n} else if (buttonId.startsWith('video_no')) {\n  msg = isFrench\n    ? \"Pas de souci! Quelqu'un de notre \u00e9quipe vous contactera bient\u00f4t.\"\n    : 'No worries! Someone from our team will follow up with you soon.';\n} else if (buttonId.startsWith('mc||')) {\n  // Media category/ticket callback\n  const parts = buttonId.split('||');\n  mediaTicketId = parts[1] || '';\n  mediaShortId = parts[2] || '';\n  isMediaCallback = true;\n  msg = '';\n}\n\nif (!msg && !isMediaCallback) return [{ json: { handled: false, reason: 'unknown button: ' + buttonId } }];\n\nreturn [{ json: { handled: true, action: buttonId, phone, resolveTicket, msg, isMediaCallback, mediaTicketId, mediaShortId } }];"
      },
      "id": "wa-callback-handler",
      "name": "Handle WA Callback",
      "type": "n8n-nodes-base.code",
      "position": [
        736,
        144
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE maintenance_requests SET status = 'closed', updated_at = NOW() WHERE '{{ $json.resolveTicket }}' = 'true' AND ticket_id = (SELECT ticket_id FROM maintenance_requests WHERE phone LIKE '%' || RIGHT('{{ $json.phone }}', 10) || '%' AND status = 'open' ORDER BY created_at DESC LIMIT 1) RETURNING ticket_id, status",
        "options": {}
      },
      "id": "wa-resolve-ticket",
      "name": "Resolve Ticket",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1040,
        128
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "JlETYTnhAwFrsmL9",
          "name": "Julia DB"
        }
      }
    },
    {
      "id": "wa-build-confirmation",
      "name": "Build Confirmation",
      "type": "n8n-nodes-base.code",
      "position": [
        1300,
        128
      ],
      "typeVersion": 2,
      "parameters": {
        "jsCode": "const cb = $('Handle WA Callback').item.json;\nconst rt = $input.first().json;\nconst ticketId = rt.ticket_id || '';\nlet msg = cb.msg || '';\nif (ticketId && cb.resolveTicket) {\n  msg = 'Ticket ' + ticketId + ' has been closed. ' + msg;\n}\nreturn [{ json: { phone: cb.phone, message: msg, ticketId, resolveTicket: cb.resolveTicket } }];"
      }
    },
    {
      "id": "wa-send-confirmation",
      "name": "Send WA Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        128
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: ($json.phone), type: 'text', text: { body: ($json.message) } }) }}",
        "options": {}
      }
    },
    {
      "id": "wa-log-closure",
      "name": "Log Closure",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1780,
        128
      ],
      "typeVersion": 2.5,
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (chat_id, ticket_id, sender, message_text, channel, created_at) SELECT phone, ticket_id, 'system', 'Ticket ' || ticket_id || ' has been closed.', channel, NOW() FROM maintenance_requests WHERE ticket_id = '{{ $('Build Confirmation').item.json.ticketId }}' AND '{{ $('Build Confirmation').item.json.resolveTicket }}' = 'true' RETURNING id;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "JlETYTnhAwFrsmL9",
          "name": "Julia DB"
        }
      }
    },
    {
      "id": "wa-is-media",
      "name": "Is Media?",
      "type": "n8n-nodes-base.if",
      "position": [
        720,
        528
      ],
      "typeVersion": 2,
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "media-check",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.isMedia }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "wa-save-pending",
      "name": "Save WA Pending Media",
      "type": "n8n-nodes-base.postgres",
      "position": [
        960,
        400
      ],
      "typeVersion": 2.5,
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pending_media (chat_id, file_id, status) VALUES ('{{ $json.senderPhone }}', '{{ $json.mediaId }}', 'pending') RETURNING *",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "JlETYTnhAwFrsmL9",
          "name": "Julia DB"
        }
      }
    },
    {
      "id": "wa-log-media-msg",
      "name": "Log WA Media Message",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1200,
        400
      ],
      "typeVersion": 2.5,
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (chat_id, sender, message_text, channel, external_message_id, created_at) VALUES ('{{ $(\"Parse Meta Message\").item.json.senderPhone }}', (SELECT COALESCE(name, 'Tenant') FROM tenants WHERE phone LIKE '%' || RIGHT('{{ $(\"Parse Meta Message\").item.json.senderPhone }}', 10) || '%' LIMIT 1), '{{ ($('Parse Meta Message').item.json.text || '').replace(/'/g, \"''\") }}', 'whatsapp', 'wa_{{ $(\"Parse Meta Message\").item.json.messageId }}', NOW()) ON CONFLICT (external_message_id) WHERE external_message_id != '' DO NOTHING RETURNING *",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "JlETYTnhAwFrsmL9",
          "name": "Julia DB"
        }
      }
    },
    {
      "id": "wa-get-tickets",
      "name": "Get WA Tickets",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1440,
        400
      ],
      "typeVersion": 2.5,
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ticket_id, keywords, category FROM maintenance_requests WHERE phone LIKE '%' || RIGHT('{{ $('Parse Meta Message').item.json.senderPhone }}', 10) || '%' AND status NOT IN ('closed', 'resolved') ORDER BY created_at DESC LIMIT 5",
        "options": {
          "alwaysOutputData": true
        }
      },
      "credentials": {
        "postgres": {
          "id": "JlETYTnhAwFrsmL9",
          "name": "Julia DB"
        }
      }
    },
    {
      "id": "wa-send-ticket-prompt",
      "name": "Send WA Ticket Prompt",
      "type": "n8n-nodes-base.code",
      "position": [
        1680,
        400
      ],
      "typeVersion": 2,
      "parameters": {
        "jsCode": "const parsed = $('Parse Meta Message').item.json;\nconst pending = $('Save WA Pending Media').item.json;\nconst tickets = $('Get WA Tickets').all().map(i => i.json).filter(t => t.ticket_id);\nconst phone = parsed.senderPhone;\nconst shortId = pending.id.slice(-12);\n\nconst token = $env.WHATSAPP_TOKEN || '';\n\nif (tickets.length > 0) {\n  const rows = tickets.map(t => ({\n    id: 'mc||' + t.ticket_id + '||' + shortId,\n    title: t.ticket_id,\n    description: (t.keywords || t.category || '').replace(/_/g, ' ').slice(0, 72)\n  }));\n\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://graph.facebook.com/v21.0/${$env.WHATSAPP_PHONE_NUMBER_ID}/messages`,\n    headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + token },\n    body: {\n      messaging_product: 'whatsapp', to: phone, type: 'interactive',\n      interactive: {\n        type: 'list',\n        body: { text: '\ud83d\udcf8 Photo received! Which ticket is this for?' },\n        action: { button: 'Select ticket', sections: [{ title: 'Open Tickets', rows: rows }] }\n      }\n    },\n    json: true\n  });\n} else {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://graph.facebook.com/v21.0/${$env.WHATSAPP_PHONE_NUMBER_ID}/messages`,\n    headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + token },\n    body: { messaging_product: 'whatsapp', to: phone, type: 'text',\n      text: { body: '\ud83d\udcf8 Photo received! Please describe the issue first, then resend the photo.' }\n    },\n    json: true\n  });\n}\n\nreturn [{ json: { sent: true, phone, pendingId: pending.id, ticketCount: tickets.length } }];"
      }
    },
    {
      "id": "wa-is-media-cb",
      "name": "Is Media Callback?",
      "type": "n8n-nodes-base.if",
      "position": [
        960,
        144
      ],
      "typeVersion": 2,
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "media-cb-check",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.isMediaCallback }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "wa-get-pending-file",
      "name": "Get WA Pending File",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1200,
        16
      ],
      "typeVersion": 2.5,
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pending_media SET ticket_id = '{{ $json.mediaTicketId }}', category = '{{ $json.mediaTicketId }}', status = 'categorized' WHERE id::text LIKE '%{{ $json.mediaShortId }}' RETURNING *",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "JlETYTnhAwFrsmL9",
          "name": "Julia DB"
        }
      }
    },
    {
      "id": "wa-download-media",
      "name": "Download WA Media",
      "type": "n8n-nodes-base.code",
      "position": [
        1440,
        16
      ],
      "typeVersion": 2,
      "parameters": {
        "jsCode": "const pending = $('Save WA Pending Media').item.json;\nconst fileId = pending.file_id;\nif (!fileId) return [{ json: { saved: false } }];\n\nconst token = $env.WHATSAPP_TOKEN || '';\n\nconst mediaInfo = await this.helpers.httpRequest({\n  method: 'GET',\n  url: 'https://graph.facebook.com/v21.0/' + fileId,\n  headers: { 'Authorization': 'Bearer ' + token },\n  json: true\n});\n\nconst downloadUrl = mediaInfo.url;\nif (!downloadUrl) return [{ json: { saved: false } }];\n\nconst fileBuffer = await this.helpers.httpRequest({\n  method: 'GET',\n  url: downloadUrl,\n  headers: { 'Authorization': 'Bearer ' + token },\n  encoding: 'arraybuffer',\n  returnFullResponse: false,\n  json: false\n});\n\nconst ext = (mediaInfo.mime_type || 'image/jpeg').split('/').pop() || 'jpg';\nconst filename = Date.now() + '_' + Math.random().toString(36).slice(2,8) + '.' + ext;\nconst filePath = '/files/media/' + filename;\n\nconst fs = require('fs');\nfs.writeFileSync(filePath, Buffer.from(fileBuffer));\n\nreturn [{ json: { saved: true, filename, url: '/api/media/' + filename, chatId: pending.chat_id, pendingId: pending.id, mimeType: mediaInfo.mime_type || 'image/jpeg' } }];"
      }
    },
    {
      "id": "wa-update-pending",
      "name": "Update WA Pending",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1680,
        16
      ],
      "typeVersion": 2.5,
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pending_media SET file_url = '{{ $json.url }}', status = 'uploaded' WHERE id = '{{ $json.pendingId }}' RETURNING id, file_url, chat_id",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "JlETYTnhAwFrsmL9",
          "name": "Julia DB"
        }
      }
    },
    {
      "id": "wa-link-media",
      "name": "Link WA Media",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1920,
        16
      ],
      "typeVersion": 2.5,
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE messages SET media = '{\"type\":\"image\",\"url\":\"{{ $(\"Download WA Media\").item.json.url }}\"}', ticket_id = '{{ $(\"Handle WA Callback\").item.json.mediaTicketId }}' WHERE id = (  SELECT id FROM messages  WHERE chat_id::text = '{{ $(\"Update WA Pending\").item.json.chat_id }}'  AND (message_text IS NULL OR message_text = '')  AND sender NOT IN ('bot', 'system', 'owner')  AND ticket_id IS NULL  ORDER BY created_at DESC LIMIT 1) RETURNING id",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "JlETYTnhAwFrsmL9",
          "name": "Julia DB"
        }
      }
    },
    {
      "id": "wa-media-ack",
      "name": "WA Media Ack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        16
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: ($('Handle WA Callback').item.json.phone), type: 'text', text: { body: ('Got it! Photo saved to ticket ' + $('Handle WA Callback').item.json.mediaTicketId + '.') } }) }}",
        "options": {}
      }
    },
    {
      "id": "wa-link-media-immediate",
      "name": "Link WA Media Immediate",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1560,
        400
      ],
      "typeVersion": 2.5,
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE messages SET \n  media = json_build_object('type', split_part('{{ $(\"Download WA Media\").item.json.mimeType }}', '/', 1), 'url', '{{ $(\"Download WA Media\").item.json.url }}')::text,\n  ticket_id = (SELECT ticket_id FROM maintenance_requests WHERE phone LIKE '%' || RIGHT('{{ $(\"Parse Meta Message\").item.json.senderPhone }}', 10) || '%' AND status NOT IN ('closed', 'resolved') ORDER BY created_at DESC LIMIT 1)\nWHERE external_message_id = 'wa_{{ $(\"Parse Meta Message\").item.json.messageId }}' RETURNING id",
        "options": {
          "alwaysOutputData": true
        }
      },
      "credentials": {
        "postgres": {
          "id": "JlETYTnhAwFrsmL9",
          "name": "Julia DB"
        }
      }
    },
    {
      "id": "wa-set-ticket-on-msg",
      "name": "Set Ticket on Message",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1200,
        16
      ],
      "typeVersion": 2.5,
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE messages SET ticket_id = '{{ $json.mediaTicketId }}' WHERE chat_id::text = '{{ $json.phone }}' AND (message_text IS NULL OR message_text = '') AND sender NOT IN ('bot', 'system', 'owner') AND ticket_id IS NULL ORDER BY created_at DESC LIMIT 1 RETURNING id",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "JlETYTnhAwFrsmL9",
          "name": "Julia DB"
        }
      }
    },
    {
      "id": "wa-forward-caption",
      "name": "Forward Caption to AI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1800,
        400
      ],
      "typeVersion": 4.2,
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1285597.hstgr.cloud/webhook/wa-intake",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Parse Meta Message').item.json.senderPhone }}"
            },
            {
              "name": "message",
              "value": "={{ $('Parse Meta Message').item.json.text }}"
            },
            {
              "name": "messageId",
              "value": "={{ $('Parse Meta Message').item.json.messageId }}"
            },
            {
              "name": "senderName",
              "value": ""
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "wa-has-caption",
      "name": "Has Caption?",
      "type": "n8n-nodes-base.if",
      "position": [
        1680,
        400
      ],
      "typeVersion": 2,
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "caption-check",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              },
              "leftValue": "={{ $('Parse Meta Message').item.json.text }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "WA Verify GET": {
      "main": [
        [
          {
            "node": "Return Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is WA Callback?": {
      "main": [
        [
          {
            "node": "Handle WA Callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Media?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WA Message POST": {
      "main": [
        [
          {
            "node": "Parse Meta Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle WA Callback": {
      "main": [
        [
          {
            "node": "Is Media Callback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Meta Message": {
      "main": [
        [
          {
            "node": "Is WA Callback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Ticket": {
      "main": [
        [
          {
            "node": "Build Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Confirmation": {
      "main": [
        [
          {
            "node": "Send WA Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WA Confirmation": {
      "main": [
        [
          {
            "node": "Log Closure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Media?": {
      "main": [
        [
          {
            "node": "Save WA Pending Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward to WA Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save WA Pending Media": {
      "main": [
        [
          {
            "node": "Log WA Media Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log WA Media Message": {
      "main": [
        [
          {
            "node": "Download WA Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get WA Tickets": {
      "main": [
        [
          {
            "node": "Send WA Ticket Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Media Callback?": {
      "main": [
        [
          {
            "node": "Set Ticket on Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resolve Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download WA Media": {
      "main": [
        [
          {
            "node": "Update WA Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update WA Pending": {
      "main": [
        [
          {
            "node": "Link WA Media Immediate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link WA Media Immediate": {
      "main": [
        [
          {
            "node": "Has Caption?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Ticket on Message": {
      "main": [
        [
          {
            "node": "WA Media Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Caption?": {
      "main": [
        [
          {
            "node": "Forward Caption to AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get WA Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward Caption to AI": {
      "main": [
        [
          {
            "node": "Get WA Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": false,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "errorWorkflow": "ZK5jzQ8cMlLiMdeZ"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "510504c9-4bba-4c35-bdea-d40dd7387a08",
  "activeVersionId": "510504c9-4bba-4c35-bdea-d40dd7387a08",
  "versionCounter": 157,
  "triggerCount": 2,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-27T03:32:40.239Z",
      "createdAt": "2026-03-27T03:32:40.239Z",
      "role": "workflow:owner",
      "workflowId": "x6LjYZQ2l05BS8uP",
      "projectId": "OG7kkLwgqLqxkXvS",
      "project": {
        "updatedAt": "2026-03-20T21:19:18.843Z",
        "createdAt": "2026-03-20T21:05:50.448Z",
        "id": "OG7kkLwgqLqxkXvS",
        "name": "Dion Wang <dionbuildsai@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1331ae1b-9839-4442-b515-c3bfee6e7c95"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}