Desktop/Projects/julia-pm/workflows/WhatsApp_Meta_Intake.json
{"id": "x6LjYZQ2l05BS8uP", "name": "[Intake] WhatsApp Meta", "active": true, "nodes": [{"parameters": {"path": "whatsapp-intake", "responseMode": "responseNode", "options": {}}, "id": "e9ef35f8-7bbb-4e6a-8861-178b343ded47", "name": "WA Verify GET", "type": "n8n-nodes-base.webhook", "position": [240, 304], "webhookId": "2fa8271b-036d-45d4-b2af-0950a63dcaa8", "typeVersion": 2}, {"parameters": {"respondWith": "text", "responseBody": "={{ $json.query['hub.challenge'] }}", "options": {"responseCode": 200}}, "id": "d821c07d-7dd3-40ce-92c8-b56ffab10388", "name": "Return Challenge", "type": "n8n-nodes-base.respondToWebhook", "position": [480, 304], "typeVersion": 1}, {"parameters": {"httpMethod": "POST", "path": "whatsapp-intake", "options": {"rawBody": true}}, "id": "81db1a10-f6fc-4680-9887-8d7720b714a6", "name": "WA Message POST", "type": "n8n-nodes-base.webhook", "position": [240, 528], "webhookId": "dec49453-ecc6-48d8-bbd7-c24301f08cce", "typeVersion": 2}, {"parameters": {"jsCode": "const body = $json.body || $json;\nconst changes = body.entry?.[0]?.changes?.[0]?.value || {};\nconst messages = changes.messages || [];\n\nif (messages.length === 0) return [];\n\nconst msg = messages[0];\nconst senderPhone = msg.from;\n\n// Handle interactive button replies\nif (msg.type === 'interactive' && msg.interactive?.button_reply) {\n  const buttonTitle = (msg.interactive.button_reply.title || '').toLowerCase().trim();\n  const buttonId = msg.interactive.button_reply.id || '';\n  let action = '';\n  if (buttonTitle === 'yes') action = 'video_yes';\n  else if (buttonTitle === 'no') action = 'video_no';\n  else action = buttonId;\n  return [{ json: { senderPhone, text: '', messageId: msg.id, buttonReplyId: action, isCallback: true } }];\n}\n\n// Handle template quick reply buttons (Meta sends type \"button\", not \"interactive\")\nif (msg.type === 'button' && msg.button) {\n  const buttonText = (msg.button.text || '').toLowerCase().trim();\n  const buttonPayload = msg.button.payload || '';\n  let action = '';\n  if (buttonText === 'yes' || buttonPayload === 'yes') action = 'video_yes';\n  else if (buttonText === 'no' || buttonPayload === 'no') action = 'video_no';\n  else action = buttonPayload || buttonText;\n  return [{ json: { senderPhone, text: '', messageId: msg.id, buttonReplyId: action, isCallback: true } }];\n}\n\nconst text = msg.text?.body || msg.caption || '';\nif (!text.trim()) return [];\n\nreturn [{ json: { senderPhone, text, messageId: msg.id, isCallback: false } }];"}, "id": "9e58d7a4-cd5c-4f15-bf23-65a37acc05fe", "name": "Parse Meta Message", "type": "n8n-nodes-base.code", "position": [480, 528], "typeVersion": 2}, {"parameters": {"method": "POST", "url": "https://n8n.srv1285597.hstgr.cloud/webhook/wa-intake", "sendBody": true, "contentType": "form-urlencoded", "bodyParameters": {"parameters": [{"name": "phone", "value": "={{ $json.senderPhone }}"}, {"name": "message", "value": "={{ $json.text }}"}, {"name": "messageId", "value": "={{ $json.messageId }}"}, {"name": "senderName", "value": "={{ $json.senderName || '' }}"}]}, "options": {}}, "id": "f25ac842-1976-4e07-aa26-66ccf495d2e3", "name": "Forward to WA Intake", "type": "n8n-nodes-base.httpRequest", "position": [720, 528], "typeVersion": 4.2}, {"parameters": {"conditions": {"options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "wa-cb-check", "operator": {"type": "boolean", "operation": "true", "singleValue": true}, "leftValue": "={{ $json.isCallback }}"}]}, "options": {}}, "id": "wa-route-callback", "name": "Is WA Callback?", "type": "n8n-nodes-base.if", "position": [480, 112], "typeVersion": 2}, {"parameters": {"jsCode": "const input = $input.first().json;\nconst buttonId = input.buttonReplyId || '';\nconst phone = (input.senderPhone || '').replace(/[^0-9]/g, '');\n\nif (!buttonId || !phone) return [{ json: { handled: false, reason: 'no button or phone' } }];\n\nconst isFrench = false;\nlet msg = '';\nlet resolveTicket = false;\n\nif (buttonId.startsWith('video_yes')) {\n  msg = isFrench\n    ? \"Super! Content que la vid\u00e9o ait aid\u00e9. Si vous avez d'autres questions, n'h\u00e9sitez pas.\"\n    : 'Great! Glad the video helped. If you have any other questions, feel free to reach out.';\n  resolveTicket = true;\n} else if (buttonId.startsWith('video_no')) {\n  msg = isFrench\n    ? \"Pas de souci! Quelqu'un de notre \u00e9quipe vous contactera bient\u00f4t.\"\n    : 'No worries! Someone from our team will follow up with you soon.';\n}\n\nif (!msg) return [{ json: { handled: false, reason: 'unknown button: ' + buttonId } }];\n\nreturn [{ json: { handled: true, action: buttonId, phone, resolveTicket, msg } }];"}, "id": "wa-callback-handler", "name": "Handle WA Callback", "type": "n8n-nodes-base.code", "position": [736, 144], "typeVersion": 2}, {"parameters": {"operation": "executeQuery", "query": "UPDATE maintenance_requests SET status = 'resolved', updated_at = NOW() WHERE '{{ $json.resolveTicket }}' = 'true' AND ticket_id = (SELECT ticket_id FROM maintenance_requests WHERE phone LIKE '%' || RIGHT('{{ $json.phone }}', 10) || '%' AND status = 'open' ORDER BY created_at DESC LIMIT 1) RETURNING ticket_id, status", "options": {}}, "id": "wa-resolve-ticket", "name": "Resolve Ticket", "type": "n8n-nodes-base.postgres", "position": [1040, 128], "typeVersion": 2.5, "credentials": {"postgres": {"id": "JlETYTnhAwFrsmL9", "name": "Julia DB"}}}, {"id": "wa-build-confirmation", "name": "Build Confirmation", "type": "n8n-nodes-base.code", "position": [1300, 128], "typeVersion": 2, "parameters": {"jsCode": "const cb = $('Handle WA Callback').item.json;\nconst rt = $input.first().json;\nconst ticketId = rt.ticket_id || '';\nlet msg = cb.msg || '';\nif (ticketId && cb.resolveTicket) {\n  msg = 'Ticket ' + ticketId + ' has been resolved. ' + msg;\n}\nreturn [{ json: { phone: cb.phone, message: msg, ticketId } }];"}}, {"id": "wa-send-confirmation", "name": "Send WA Confirmation", "type": "n8n-nodes-base.whatsApp", "position": [1540, 128], "typeVersion": 1, "parameters": {"resource": "message", "operation": "send", "phoneNumberId": "971537566052793", "recipientPhoneNumber": "={{ $json.phone }}", "textBody": "={{ $json.message }}"}, "credentials": {"whatsAppApi": {"id": "we3yhVhUwWRnkTGz", "name": "WhatsApp account"}}}], "connections": {"WA Verify GET": {"main": [[{"node": "Return Challenge", "type": "main", "index": 0}]]}, "Is WA Callback?": {"main": [[{"node": "Handle WA Callback", "type": "main", "index": 0}], [{"node": "Forward to WA Intake", "type": "main", "index": 0}]]}, "WA Message POST": {"main": [[{"node": "Parse Meta Message", "type": "main", "index": 0}]]}, "Handle WA Callback": {"main": [[{"node": "Resolve Ticket", "type": "main", "index": 0}]]}, "Parse Meta Message": {"main": [[{"node": "Is WA Callback?", "type": "main", "index": 0}]]}, "Resolve Ticket": {"main": [[{"node": "Build Confirmation", "type": "main", "index": 0}]]}, "Build Confirmation": {"main": [[{"node": "Send WA Confirmation", "type": "main", "index": 0}]]}}, "settings": {"saveExecutionProgress": false, "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false, "executionOrder": "v1", "errorWorkflow": "ZK5jzQ8cMlLiMdeZ"}}